<!DOCTYPE html>
<html lang="fa" dir="rtl">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="x-ua-compatible" content="ie=edge">

		
		<title>عملیات و توابع قالب &mdash; Let's Go</title>
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<link rel="stylesheet" type="text/css" href="assets/css/main.css">
	</head>
	<body>
		<header>
			<div class="wrapper">
				<div>
					
						
						<a href="00.00-front-matter.html">Let's Go</a> <span class="crumbs">&rsaquo; <a href="05.00-dynamic-html-templates.html">قالب‌های HTML پویا</a> &rsaquo; اعمال و توابع قالب</span>
						
					
				</div>
				<div>
					&lsaquo; <a href="05.01-displaying-dynamic-data.html">قبلی</a>
					&middot; <a href="00.01-contents.html">فهرست</a> &middot;
					<a href="05.03-caching-templates.html">بعدی</a> &rsaquo;
				</div>
			</div>
		</header>
		<main class="wrapper text">
			<div class="chapter">فصل 5.2.</div>
			<h2 id="template-actions-and-functions">اعمال و توابع قالب</h2>

<p>در این بخش، ما قصد داریم به <dfn>اعمال</dfn> و <dfn>توابع</dfn> قالب که Go ارائه می‌دهد نگاه کنیم.</p>

<p>ما قبلاً در مورد برخی از اعمال صحبت کرده‌ایم — <code>{{define}}</code>، <code>{{template}}</code> و <code>{{block}}</code> — اما سه مورد دیگر وجود دارد که می‌توانید برای کنترل نمایش داده‌های پویا استفاده کنید — <code>{{if}}</code>، <code>{{with}}</code> و <code>{{range}}</code>.</p>

<table class="desc-table" dir="ltr">
<thead>
<tr>
<th>Action</th>
<th>Description</th>
</tr>
</thead>

<tbody>
<tr>
<td><code>{{if .Foo}} C1 {{else}} C2 {{end}}</code></td>
<td>اگر <code>.Foo</code> خالی نباشد، محتوای C1 را رندر کنید، در غیر این صورت محتوای C2 را رندر کنید.</td>
</tr>

<tr>
<td><code>{{with .Foo}} C1 {{else}} C2 {{end}}</code></td>
<td>اگر <code>.Foo</code> خالی نباشد، سپس dot را به مقدار <code>.Foo</code> تنظیم کنید و محتوای C1 را رندر کنید، در غیر این صورت محتوای C2 را رندر کنید.</td>
</tr>

<tr>
<td><code>{{range .Foo}} C1 {{else}} C2 {{end}}</code></td>
<td>اگر طول <code>.Foo</code> بزرگتر از صفر باشد، سپس روی هر عنصر حلقه بزنید، dot را به مقدار هر عنصر تنظیم کنید و محتوای C1 را رندر کنید. اگر طول <code>.Foo</code> صفر باشد، محتوای C2 را رندر کنید. نوع زیرین <code>.Foo</code> باید یک آرایه، slice، map یا channel باشد.</td>
</tr>
</tbody>
</table>
<p>چند نکته در مورد این اعمال برای اشاره وجود دارد:</p>

<ul>
<li><p>برای هر سه عمل، بند <code>{{else}}</code> اختیاری است. به عنوان مثال، می‌توانید <code>{{if .Foo}} C1 {{end}}</code> بنویسید اگر محتوای <code>C2</code> وجود ندارد که می‌خواهید رندر کنید.</p></li>

<li><p>مقادیر <em>خالی</em> false، 0، هر اشاره‌گر nil یا مقدار رابط، و هر آرایه، slice، map یا رشته با طول صفر هستند.</p></li>

<li><p>مهم است که درک کنید که اعمال <code>with</code> و <code>range</code> مقدار dot را تغییر می‌دهند. وقتی شروع به استفاده از آن‌ها می‌کنید، <em>آنچه dot نشان می‌دهد می‌تواند بسته به اینکه در کجای قالب هستید و چه کاری انجام می‌دهید متفاوت باشد.</em></p></li>
</ul>

<p>پکیج <code>html/template</code> همچنین برخی توابع قالب ارائه می‌دهد که می‌توانید از آن‌ها برای افزودن منطق اضافی به قالب‌های خود و کنترل آنچه در زمان اجرا (runtime) رندر می‌شود استفاده کنید. می‌توانید یک فهرست کامل از توابع را <a href="https://pkg.go.dev/text/template/#hdr-Functions">اینجا</a> پیدا کنید، اما مهم‌ترین آن‌ها عبارتند از:</p>

<table class="desc-table" dir="ltr">
<thead>
<tr>
<th>Function</th>
<th>Description</th>
</tr>
</thead>

<tbody>
<tr>
<td><code>{{eq .Foo .Bar}}</code></td>
<td>true را yield می‌کند اگر <code>.Foo</code> برابر با <code>.Bar</code> باشد</td>
</tr>

<tr>
<td><code>{{ne .Foo .Bar}}</code></td>
<td>true را yield می‌کند اگر <code>.Foo</code> برابر با <code>.Bar</code> نباشد</td>
</tr>

<tr>
<td><code>{{not .Foo}}</code></td>
<td>نفی بولی (boolean negation) <code>.Foo</code> را yield می‌کند</td>
</tr>

<tr>
<td><code>{{or .Foo .Bar}}</code></td>
<td><code>.Foo</code> را yield می‌کند اگر <code>.Foo</code> خالی نباشد؛ در غیر این صورت <code>.Bar</code> را yield می‌کند</td>
</tr>

<tr>
<td><code>{{index .Foo i}}</code></td>
<td>مقدار <code>.Foo</code> در ایندکس <code>i</code> را yield می‌کند. نوع زیرین <code>.Foo</code> باید یک map، slice یا آرایه باشد، و <code>i</code> باید یک مقدار عدد صحیح باشد.</td>
</tr>

<tr>
<td><code>{{printf &quot;%s-%s&quot; .Foo .Bar}}</code></td>
<td>یک رشته فرمت شده حاوی مقادیر <code>.Foo</code> و <code>.Bar</code> را yield می‌کند. به همان روش fmt.Sprintf() کار می‌کند.</td>
</tr>

<tr>
<td><code>{{len .Foo}}</code></td>
<td>طول <code>.Foo</code> را به عنوان یک عدد صحیح yield می‌کند.</td>
</tr>

<tr>
<td><code>{{$bar := len .Foo}}</code></td>
<td>طول <code>.Foo</code> را به متغیر قالب <code>$bar</code> اختصاص می‌دهد</td>
</tr>
</tbody>
</table>
<p>ردیف آخر مثالی از اعلان یک <dfn>متغیر قالب</dfn> است. متغیرهای قالب به خصوص مفید هستند اگر می‌خواهید نتیجه از یک تابع را ذخیره کنید و در چندین مکان در قالب خود استفاده کنید. نام‌های متغیر باید با علامت دلار پیشوند شوند و فقط می‌توانند شامل کاراکترهای الفبایی-عددی باشند.</p>

<h3 id="using-the-with-action">استفاده از عمل with</h3>

<p>یک فرصت خوب برای استفاده از عمل (action) <code>{{with}}</code> فایل <code>view.tmpl</code> است که در فصل قبل ایجاد کردیم. ادامه دهید و آن را مانند این به‌روزرسانی کنید:</p>

<figure class="code html" dir="ltr">
<figcaption>File: ui/html/pages/view.tmpl</figcaption>
<pre>
{{define &#34;title&#34;}}Snippet #{{.Snippet.ID}}{{end}}

{{define &#34;main&#34;}}
    {{with .Snippet}}
    <span class="p">&lt;</span><span class="nt">div</span> <span class="na">class</span><span class="o">=</span><span class="s">&#39;snippet&#39;</span><span class="p"></span><span class="p">&gt;</span>
        <span class="p">&lt;</span><span class="nt">div</span> <span class="na">class</span><span class="o">=</span><span class="s">&#39;metadata&#39;</span><span class="p"></span><span class="p">&gt;</span>
            <span class="p">&lt;</span><span class="nt">strong</span><span class="p"></span><span class="p">&gt;</span>{{.Title}}<span class="p">&lt;</span><span class="p">/</span><span class="nt">strong</span><span class="p">&gt;</span>
            <span class="p">&lt;</span><span class="nt">span</span><span class="p"></span><span class="p">&gt;</span>#{{.ID}}<span class="p">&lt;</span><span class="p">/</span><span class="nt">span</span><span class="p">&gt;</span>
        <span class="p">&lt;</span><span class="p">/</span><span class="nt">div</span><span class="p">&gt;</span>
        <span class="p">&lt;</span><span class="nt">pre</span><span class="p"></span><span class="p">&gt;</span><span class="p">&lt;</span><span class="nt">code</span><span class="p"></span><span class="p">&gt;</span>{{.Content}}<span class="p">&lt;</span><span class="p">/</span><span class="nt">code</span><span class="p">&gt;</span><span class="p">&lt;</span><span class="p">/</span><span class="nt">pre</span><span class="p">&gt;</span>
        <span class="p">&lt;</span><span class="nt">div</span> <span class="na">class</span><span class="o">=</span><span class="s">&#39;metadata&#39;</span><span class="p"></span><span class="p">&gt;</span>
            <span class="p">&lt;</span><span class="nt">time</span><span class="p"></span><span class="p">&gt;</span>Created: {{.Created}}<span class="p">&lt;</span><span class="p">/</span><span class="nt">time</span><span class="p">&gt;</span>
            <span class="p">&lt;</span><span class="nt">time</span><span class="p"></span><span class="p">&gt;</span>Expires: {{.Expires}}<span class="p">&lt;</span><span class="p">/</span><span class="nt">time</span><span class="p">&gt;</span>
        <span class="p">&lt;</span><span class="p">/</span><span class="nt">div</span><span class="p">&gt;</span>
    <span class="p">&lt;</span><span class="p">/</span><span class="nt">div</span><span class="p">&gt;</span>
    {{end}}
{{end}}</pre>
</figure>

<p>پس اکنون، بین <code>{{with .Snippet}}</code> و تگ مربوطه <code>{{end}}</code>، مقدار dot به <code>.Snippet</code> تنظیم می‌شود. Dot اساساً به ساختار <code>models.Snippet</code> به جای ساختار والد <code>templateData</code> تبدیل می‌شود.</p>

<h3 id="using-the-if-and-range-actions">استفاده از اعمال if و range</h3>

<p>بیایید همچنین از اعمال <code>{{if}}</code> و <code>{{range}}</code> در یک مثال ملموس استفاده کنیم و صفحه اصلی خود را برای نمایش یک جدول از آخرین snippetها به‌روزرسانی کنیم، کمی شبیه این:</p>

<p><img class="sketch" src="assets/img/05.02-01.png" alt="05.02-01.png" /></p>

<p>ابتدا ساختار <code>templateData</code> را به‌روزرسانی کنید تا یک فیلد <code>Snippets</code> برای نگه‌داری یک slice از snippetها داشته باشد، مانند این:</p>

<figure class="code go" dir="ltr">
<figcaption>File: cmd/web/templates.go</figcaption>
<pre><span class="kn">package</span> <span class="nx">main</span>

<span class="kn">import</span> <span class="s">&#34;snippetbox.alexedwards.net/internal/models&#34;</span>

<span class="c1">// Include a Snippets field in the templateData struct.
</span><span class="c1"></span><span class="kd">type</span> <span class="nx">templateData</span> <span class="kd">struct</span> <span class="p">{</span>
    <span class="nx">Snippet</span>  <span class="nx">models</span><span class="p">.</span><span class="nx">Snippet</span>
    <span class="nx">Snippets</span> <span class="p">[</span><span class="p">]</span><span class="nx">models</span><span class="p">.</span><span class="nx">Snippet</span>
<span class="p">}</span></pre>
</figure>

<p>سپس تابع handler <code>home</code> را به‌روزرسانی کنید تا آخرین snippetها را از مدل پایگاه داده ما واکشی کند و آن‌ها را به قالب <code>home.tmpl</code> ارسال کند:</p>

<figure class="code go" dir="ltr">
<figcaption>File: cmd/web/handlers.go</figcaption>
<pre><span class="kn">package</span> <span class="nx">main</span>

<span class="o">...</span>

<span class="kd">func</span> <span class="p">(</span><span class="nx">app</span> <span class="o">*</span><span class="nx">application</span><span class="p">)</span> <span class="nf">home</span><span class="p">(</span><span class="nx">w</span> <span class="nx">http</span><span class="p">.</span><span class="nx">ResponseWriter</span><span class="p">,</span> <span class="nx">r</span> <span class="o">*</span><span class="nx">http</span><span class="p">.</span><span class="nx">Request</span><span class="p">)</span> <span class="p">{</span>
    <span class="nx">w</span><span class="p">.</span><span class="nf">Header</span><span class="p">(</span><span class="p">)</span><span class="p">.</span><span class="nf">Add</span><span class="p">(</span><span class="s">&#34;Server&#34;</span><span class="p">,</span> <span class="s">&#34;Go&#34;</span><span class="p">)</span>
    
    <span class="nx">snippets</span><span class="p">,</span> <span class="nx">err</span> <span class="o">:=</span> <span class="nx">app</span><span class="p">.</span><span class="nx">snippets</span><span class="p">.</span><span class="nf">Latest</span><span class="p">(</span><span class="p">)</span>
    <span class="k">if</span> <span class="nx">err</span> <span class="o">!=</span> <span class="kc">nil</span> <span class="p">{</span>
        <span class="nx">app</span><span class="p">.</span><span class="nf">serverError</span><span class="p">(</span><span class="nx">w</span><span class="p">,</span> <span class="nx">r</span><span class="p">,</span> <span class="nx">err</span><span class="p">)</span>
        <span class="k">return</span>
    <span class="p">}</span>

    <span class="nx">files</span> <span class="o">:=</span> <span class="p">[</span><span class="p">]</span><span class="kt">string</span><span class="p">{</span>
        <span class="s">&#34;./ui/html/base.tmpl&#34;</span><span class="p">,</span>
        <span class="s">&#34;./ui/html/partials/nav.tmpl&#34;</span><span class="p">,</span>
        <span class="s">&#34;./ui/html/pages/home.tmpl&#34;</span><span class="p">,</span>
    <span class="p">}</span>

    <span class="nx">ts</span><span class="p">,</span> <span class="nx">err</span> <span class="o">:=</span> <span class="nx">template</span><span class="p">.</span><span class="nf">ParseFiles</span><span class="p">(</span><span class="nx">files</span><span class="o">...</span><span class="p">)</span>
    <span class="k">if</span> <span class="nx">err</span> <span class="o">!=</span> <span class="kc">nil</span> <span class="p">{</span>
        <span class="nx">app</span><span class="p">.</span><span class="nf">serverError</span><span class="p">(</span><span class="nx">w</span><span class="p">,</span> <span class="nx">r</span><span class="p">,</span> <span class="nx">err</span><span class="p">)</span>
        <span class="k">return</span>
    <span class="p">}</span>

    <span class="c1">// Create an instance of a templateData struct holding the slice of
</span><span class="c1"></span>    <span class="c1">// snippets.
</span><span class="c1"></span>    <span class="nx">data</span> <span class="o">:=</span> <span class="nx">templateData</span><span class="p">{</span>
        <span class="nx">Snippets</span><span class="p">:</span> <span class="nx">snippets</span><span class="p">,</span>
    <span class="p">}</span>

    <span class="c1">// Pass in the templateData struct when executing the template.
</span><span class="c1"></span>    <span class="nx">err</span> <span class="p">=</span> <span class="nx">ts</span><span class="p">.</span><span class="nf">ExecuteTemplate</span><span class="p">(</span><span class="nx">w</span><span class="p">,</span> <span class="s">&#34;base&#34;</span><span class="p">,</span> <span class="nx">data</span><span class="p">)</span>
    <span class="k">if</span> <span class="nx">err</span> <span class="o">!=</span> <span class="kc">nil</span> <span class="p">{</span>
        <span class="nx">app</span><span class="p">.</span><span class="nf">serverError</span><span class="p">(</span><span class="nx">w</span><span class="p">,</span> <span class="nx">r</span><span class="p">,</span> <span class="nx">err</span><span class="p">)</span>
    <span class="p">}</span>
<span class="p">}</span>

<span class="o">...</span></pre>
</figure>

<p>حالا بیایید به فایل <code>ui/html/pages/home.tmpl</code> برویم و آن را برای نمایش این snippetها در یک جدول با استفاده از اعمال <code>{{if}}</code> و <code>{{range}}</code> به‌روزرسانی کنیم. به طور خاص:</p>

<ul>
<li><p>می‌خواهیم از عمل <code>{{if}}</code> برای بررسی اینکه آیا slice از snippetها خالی است یا نه استفاده کنیم. اگر خالی است، می‌خواهیم یک پیام <code>&quot;There's nothing to see here yet!</code> نمایش دهیم. در غیر این صورت، می‌خواهیم یک جدول حاوی اطلاعات snippet را رندر کنیم.</p></li>

<li><p>می‌خواهیم از عمل <code>{{range}}</code> برای تکرار روی همه snippetها در slice استفاده کنیم، محتوای هر snippet را در یک ردیف جدول رندر کنیم.</p></li>
</ul>

<p>این نشانه‌گذاری است:</p>

<figure class="code html" dir="ltr">
<figcaption>File: ui/html/pages/home.tmpl</figcaption>
<pre>
{{define &#34;title&#34;}}Home{{end}}

{{define &#34;main&#34;}}
    <span class="p">&lt;</span><span class="nt">h2</span><span class="p"></span><span class="p">&gt;</span>Latest Snippets<span class="p">&lt;</span><span class="p">/</span><span class="nt">h2</span><span class="p">&gt;</span>
    {{if .Snippets}}
     <span class="p">&lt;</span><span class="nt">table</span><span class="p"></span><span class="p">&gt;</span>
        <span class="p">&lt;</span><span class="nt">tr</span><span class="p"></span><span class="p">&gt;</span>
            <span class="p">&lt;</span><span class="nt">th</span><span class="p"></span><span class="p">&gt;</span>Title<span class="p">&lt;</span><span class="p">/</span><span class="nt">th</span><span class="p">&gt;</span>
            <span class="p">&lt;</span><span class="nt">th</span><span class="p"></span><span class="p">&gt;</span>Created<span class="p">&lt;</span><span class="p">/</span><span class="nt">th</span><span class="p">&gt;</span>
            <span class="p">&lt;</span><span class="nt">th</span><span class="p"></span><span class="p">&gt;</span>ID<span class="p">&lt;</span><span class="p">/</span><span class="nt">th</span><span class="p">&gt;</span>
        <span class="p">&lt;</span><span class="p">/</span><span class="nt">tr</span><span class="p">&gt;</span>
        {{range .Snippets}}
        <span class="p">&lt;</span><span class="nt">tr</span><span class="p"></span><span class="p">&gt;</span>
            <span class="p">&lt;</span><span class="nt">td</span><span class="p"></span><span class="p">&gt;</span><span class="p">&lt;</span><span class="nt">a</span> <span class="na">href</span><span class="o">=</span><span class="s">&#39;/snippet/view/{{.ID}}&#39;</span><span class="p"></span><span class="p">&gt;</span>{{.Title}}<span class="p">&lt;</span><span class="p">/</span><span class="nt">a</span><span class="p">&gt;</span><span class="p">&lt;</span><span class="p">/</span><span class="nt">td</span><span class="p">&gt;</span>
            <span class="p">&lt;</span><span class="nt">td</span><span class="p"></span><span class="p">&gt;</span>{{.Created}}<span class="p">&lt;</span><span class="p">/</span><span class="nt">td</span><span class="p">&gt;</span>
            <span class="p">&lt;</span><span class="nt">td</span><span class="p"></span><span class="p">&gt;</span>#{{.ID}}<span class="p">&lt;</span><span class="p">/</span><span class="nt">td</span><span class="p">&gt;</span>
        <span class="p">&lt;</span><span class="p">/</span><span class="nt">tr</span><span class="p">&gt;</span>
        {{end}}
    <span class="p">&lt;</span><span class="p">/</span><span class="nt">table</span><span class="p">&gt;</span>
    {{else}}
        <span class="p">&lt;</span><span class="nt">p</span><span class="p"></span><span class="p">&gt;</span>There&#39;s nothing to see here... yet!<span class="p">&lt;</span><span class="p">/</span><span class="nt">p</span><span class="p">&gt;</span>
    {{end}}
{{end}}</pre>
</figure>

<p>مطمئن شوید که همه فایل‌های شما ذخیره شده‌اند، برنامه را مجدداً راه‌اندازی کنید و به <a href="http://localhost:4000/"><code>http://localhost:4000</code></a> در یک مرورگر وب بروید. اگر همه چیز طبق برنامه پیش رفته باشد، باید صفحه‌ای ببینید که کمی شبیه این است:</p>

<figure class="img">
<img src="assets/img/05.02-02.png" alt="05.02-02.png" />
</figure>

<hr />

<h3 id="additional-information">اطلاعات اضافی</h3>

<h4 id="combining-functions">ترکیب توابع</h4>

<p>ترکیب چندین تابع در تگ‌های قالب شما امکان‌پذیر است، با استفاده از پرانتز <code>()</code> برای احاطه کردن توابع و آرگومان‌های آن‌ها در صورت نیاز.</p>

<p>به عنوان مثال، تگ زیر محتوای <code>C1</code> را رندر می‌کند اگر طول <code>Foo</code> بزرگتر از 99 باشد:</p>

<figure class="code plain" dir="ltr">
<pre>{{if (gt (len .Foo) 99)}} C1 {{end}}</pre>
</figure>

<p>یا به عنوان مثال دیگر، تگ زیر محتوای <code>C1</code> را رندر می‌کند اگر <code>.Foo</code> برابر با 1 باشد <em>و</em> <code>.Bar</code> کمتر یا مساوی 20 باشد:</p>

<figure class="code plain" dir="ltr">
<pre>{{if (and (eq .Foo 1) (le .Bar 20))}} C1 {{end}}</pre>
</figure>

<h4 id="controlling-loop-behavior">کنترل رفتار حلقه</h4>

<p>درون یک عمل <code>{{range}}</code> می‌توانید از دستور <code>{{break}}</code> برای پایان زودهنگام حلقه، و <code>{{continue}}</code> برای شروع فوری تکرار بعدی حلقه استفاده کنید.</p>

<figure class="code go" dir="ltr">
<pre><span class="p">{</span><span class="p">{</span><span class="k">range</span> <span class="p">.</span><span class="nx">Foo</span><span class="p">}</span><span class="p">}</span>
    <span class="c1">// Skip this iteration if the .ID value equals 99.
</span><span class="c1"></span>    <span class="p">{</span><span class="p">{</span><span class="k">if</span> <span class="nx">eq</span> <span class="p">.</span><span class="nx">ID</span> <span class="mi">99</span><span class="p">}</span><span class="p">}</span>
        <span class="p">{</span><span class="p">{</span><span class="k">continue</span><span class="p">}</span><span class="p">}</span>
    <span class="p">{</span><span class="p">{</span><span class="nx">end</span><span class="p">}</span><span class="p">}</span>
    <span class="c1">// ...
</span><span class="c1"></span><span class="p">{</span><span class="p">{</span><span class="nx">end</span><span class="p">}</span><span class="p">}</span></pre>
</figure>

<figure class="code go" dir="ltr">
<pre><span class="p">{</span><span class="p">{</span><span class="k">range</span> <span class="p">.</span><span class="nx">Foo</span><span class="p">}</span><span class="p">}</span>
    <span class="c1">// End the loop if the .ID value equals 99.
</span><span class="c1"></span>    <span class="p">{</span><span class="p">{</span><span class="k">if</span> <span class="nx">eq</span> <span class="p">.</span><span class="nx">ID</span> <span class="mi">99</span><span class="p">}</span><span class="p">}</span>
        <span class="p">{</span><span class="p">{</span><span class="k">break</span><span class="p">}</span><span class="p">}</span>
    <span class="p">{</span><span class="p">{</span><span class="nx">end</span><span class="p">}</span><span class="p">}</span>
    <span class="c1">// ...
</span><span class="c1"></span><span class="p">{</span><span class="p">{</span><span class="nx">end</span><span class="p">}</span><span class="p">}</span></pre>
</figure>

		</main>
		<footer>
			<div class="wrapper">
				<div>
					&lsaquo; <a href="05.01-displaying-dynamic-data.html">قبلی</a>
				</div>
				<div>
					<a href="00.01-contents.html">فهرست</a>
				</div>
				<div>
					<a href="05.03-caching-templates.html">بعدی</a> &rsaquo;
				</div>
			</div>
		</footer>
		<script>
			document.onkeydown = function(evt) {
				evt = evt || window.event;
				switch (evt.keyCode) {
					
					case 37:
						window.location.href = "05.01-displaying-dynamic-data.html";
						break;
						
					
					case 39:
						window.location.href = "05.03-caching-templates.html";
						break;
						
				}
			};
		</script>
	</body>
</html>

