<!DOCTYPE html>
<html lang="fa" dir="rtl">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="x-ua-compatible" content="ie=edge">
		<link rel="icon" type="image/x-icon" href="assets/img/favicon.ico">
		<title>Let's Go</title>
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<link rel="stylesheet" type="text/css" href="assets/css/main.css">
		<style>
			body {
				direction: rtl;
				text-align: right;
			}
			[class^="code"] {
				direction: ltr;
				text-align: left;
			}
			.wrapper div {
				direction: ltr;
			}
		</style>
	</head>
	<body>
		<header>
			<div class="wrapper">
				<div>
					<a href="index.html">Let's Go</a> <span class="crumbs">&rsaquo; <a href="07.00-processing-forms.html">پردازش فرم‌ها</a> &rsaquo; نمایش خطاها و پر کردن مجدد فیلدها</span>
				</div>
				<div>
					&lsaquo; <a href="07.03-validating-form-data.html">قبلی</a>
					&middot; <a href="00.01-contents.html">فهرست</a> &middot;
					<a href="07.05-creating-validation-helpers.html">بعدی</a> &rsaquo;
				</div>
			</div>
		</header>
		<main class="wrapper text">
			<div class="chapter">فصل ۷.۴</div>
			<h2 id="displaying-errors-and-repopulating-fields">نمایش خطاها و پر کردن مجدد فیلدها (Displaying Errors and Repopulating Fields)</h2>

<p>در این بخش، نحوه <dfn>نمایش خطاها (Displaying Errors)</dfn> و <dfn>پر کردن مجدد فیلدها (Repopulating Fields)</dfn> را در فرم بررسی می‌کنیم. این کار به کاربران کمک می‌کند تا <dfn>خطاهای اعتبارسنجی (Validation Errors)</dfn> را به راحتی مشاهده و اصلاح کنند.</p>

<p>برای شروع، بیایید یک <dfn>نوع فرم (Form Type)</dfn> جدید برای نگهداری <dfn>داده‌های فرم (Form Data)</dfn> و <dfn>خطاهای اعتبارسنجی (Validation Errors)</dfn> ایجاد کنیم:</p>

<figure class="code go">
<figcaption>File: cmd/web/templates.go</figcaption>
<pre><span class="kn">package</span> <span class="nx">main</span>

<span class="kn">import</span> <span class="p">(</span>
    <span class="s">&#34;html/template&#34;</span>
    <span class="s">&#34;path/filepath&#34;</span>
    <span class="s">&#34;time&#34;</span>

    <span class="s">&#34;snippetbox.alexedwards.net/internal/models&#34;</span>
<span class="p">)</span>

<span class="c1">// Add a Form field with the type &#34;any&#34;.
</span><span class="c1"></span><span class="kd">type</span> <span class="nx">templateData</span> <span class="kd">struct</span> <span class="p">{</span>
    <span class="nx">CurrentYear</span> <span class="kt">int</span>
    <span class="nx">Snippet</span>     <span class="nx">models</span><span class="p">.</span><span class="nx">Snippet</span>
    <span class="nx">Snippets</span>    <span class="p">[</span><span class="p">]</span><span class="nx">models</span><span class="p">.</span><span class="nx">Snippet</span>
    <span class="nx">Form</span>        <span class="nx">any</span>
<span class="p">}</span>

<span class="o">...</span></pre>
</figure>

<p>ما از این فیلد <code>Form</code> برای ارسال خطاهای اعتبارسنجی و داده‌های قبلاً ارسال شده به قالب هنگام نمایش مجدد فرم استفاده خواهیم کرد.</p>

<p>سپس به فایل <code>cmd/web/handlers.go</code> برویم و یک ساختار <code>snippetCreateForm</code> جدید برای نگهداری داده‌های فرم و هرگونه خطای اعتبارسنجی تعریف کنیم، و هندلر <code>snippetCreatePost</code> خود را به‌روزرسانی کنیم تا از آن استفاده کند.</p>

<p>به این صورت:</p>

<figure class="code go">
<figcaption>File: cmd/web/handlers.go</figcaption>
<pre><span class="kn">package</span> <span class="nx">main</span>

<span class="o">...</span>

<span class="c1">// Define a snippetCreateForm struct to represent the form data and validation
</span><span class="c1"></span><span class="c1">// errors for the form fields. Note that all the struct fields are deliberately
</span><span class="c1"></span><span class="c1">// exported (i.e. start with a capital letter). This is because struct fields
</span><span class="c1"></span><span class="c1">// must be exported in order to be read by the html/template package when
</span><span class="c1"></span><span class="c1">// rendering the template.
</span><span class="c1"></span><span class="kd">type</span> <span class="nx">snippetCreateForm</span> <span class="kd">struct</span> <span class="p">{</span>
    <span class="nx">Title</span>       <span class="kt">string</span>
    <span class="nx">Content</span>     <span class="kt">string</span>
    <span class="nx">Expires</span>     <span class="kt">int</span>
    <span class="nx">FieldErrors</span> <span class="kd">map</span><span class="p">[</span><span class="kt">string</span><span class="p">]</span><span class="kt">string</span>
<span class="p">}</span>

<span class="kd">func</span> <span class="p">(</span><span class="nx">app</span> <span class="o">*</span><span class="nx">application</span><span class="p">)</span> <span class="nf">snippetCreatePost</span><span class="p">(</span><span class="nx">w</span> <span class="nx">http</span><span class="p">.</span><span class="nx">ResponseWriter</span><span class="p">,</span> <span class="nx">r</span> <span class="o">*</span><span class="nx">http</span><span class="p">.</span><span class="nx">Request</span><span class="p">)</span> <span class="p">{</span>
    <span class="nx">err</span> <span class="o">:=</span> <span class="nx">r</span><span class="p">.</span><span class="nf">ParseForm</span><span class="p">(</span><span class="p">)</span>
    <span class="k">if</span> <span class="nx">err</span> <span class="o">!=</span> <span class="kc">nil</span> <span class="p">{</span>
        <span class="nx">app</span><span class="p">.</span><span class="nf">clientError</span><span class="p">(</span><span class="nx">w</span><span class="p">,</span> <span class="nx">http</span><span class="p">.</span><span class="nx">StatusBadRequest</span><span class="p">)</span>
        <span class="k">return</span>
    <span class="p">}</span>

    <span class="c1">// Get the expires value from the form as normal.
</span><span class="c1"></span>    <span class="nx">expires</span><span class="p">,</span> <span class="nx">err</span> <span class="o">:=</span> <span class="nx">strconv</span><span class="p">.</span><span class="nf">Atoi</span><span class="p">(</span><span class="nx">r</span><span class="p">.</span><span class="nx">PostForm</span><span class="p">.</span><span class="nf">Get</span><span class="p">(</span><span class="s">&#34;expires&#34;</span><span class="p">)</span><span class="p">)</span>
    <span class="k">if</span> <span class="nx">err</span> <span class="o">!=</span> <span class="kc">nil</span> <span class="p">{</span>
        <span class="nx">app</span><span class="p">.</span><span class="nf">clientError</span><span class="p">(</span><span class="nx">w</span><span class="p">,</span> <span class="nx">http</span><span class="p">.</span><span class="nx">StatusBadRequest</span><span class="p">)</span>
        <span class="k">return</span>
    <span class="p">}</span>

    <span class="c1">// Create an instance of the snippetCreateForm struct containing the values
</span><span class="c1"></span>    <span class="c1">// from the form and an empty map for any validation errors.
</span><span class="c1"></span>    <span class="nx">form</span> <span class="o">:=</span> <span class="nx">snippetCreateForm</span><span class="p">{</span>
        <span class="nx">Title</span><span class="p">:</span>       <span class="nx">r</span><span class="p">.</span><span class="nx">PostForm</span><span class="p">.</span><span class="nf">Get</span><span class="p">(</span><span class="s">&#34;title&#34;</span><span class="p">)</span><span class="p">,</span>
        <span class="nx">Content</span><span class="p">:</span>     <span class="nx">r</span><span class="p">.</span><span class="nx">PostForm</span><span class="p">.</span><span class="nf">Get</span><span class="p">(</span><span class="s">&#34;content&#34;</span><span class="p">)</span><span class="p">,</span>
        <span class="nx">Expires</span><span class="p">:</span>     <span class="nx">expires</span><span class="p">,</span>
        <span class="nx">FieldErrors</span><span class="p">:</span> <span class="kd">map</span><span class="p">[</span><span class="kt">string</span><span class="p">]</span><span class="kt">string</span><span class="p">{</span><span class="p">}</span><span class="p">,</span>
    <span class="p">}</span>

    <span class="c1">// Update the validation checks so that they operate on the snippetCreateForm
</span><span class="c1"></span>    <span class="c1">// instance.
</span><span class="c1"></span>    <span class="k">if</span> <span class="nx">strings</span><span class="p">.</span><span class="nf">TrimSpace</span><span class="p">(</span><span class="nx">form</span><span class="p">.</span><span class="nx">Title</span><span class="p">)</span> <span class="o">==</span> <span class="s">&#34;&#34;</span> <span class="p">{</span>
        <span class="nx">form</span><span class="p">.</span><span class="nx">FieldErrors</span><span class="p">[</span><span class="s">&#34;title&#34;</span><span class="p">]</span> <span class="p">=</span> <span class="s">&#34;This field cannot be blank&#34;</span>
    <span class="p">}</span> <span class="k">else</span> <span class="k">if</span> <span class="nx">utf8</span><span class="p">.</span><span class="nf">RuneCountInString</span><span class="p">(</span><span class="nx">form</span><span class="p">.</span><span class="nx">Title</span><span class="p">)</span> <span class="p">&gt;</span> <span class="mi">100</span> <span class="p">{</span>
        <span class="nx">form</span><span class="p">.</span><span class="nx">FieldErrors</span><span class="p">[</span><span class="s">&#34;title&#34;</span><span class="p">]</span> <span class="p">=</span> <span class="s">&#34;This field cannot be more than 100 characters long&#34;</span>
    <span class="p">}</span>

    <span class="k">if</span> <span class="nx">strings</span><span class="p">.</span><span class="nf">TrimSpace</span><span class="p">(</span><span class="nx">form</span><span class="p">.</span><span class="nx">Content</span><span class="p">)</span> <span class="o">==</span> <span class="s">&#34;&#34;</span> <span class="p">{</span>
        <span class="nx">form</span><span class="p">.</span><span class="nx">FieldErrors</span><span class="p">[</span><span class="s">&#34;content&#34;</span><span class="p">]</span> <span class="p">=</span> <span class="s">&#34;This field cannot be blank&#34;</span>
    <span class="p">}</span>

    <span class="k">if</span> <span class="nx">form</span><span class="p">.</span><span class="nx">Expires</span> <span class="o">!=</span> <span class="mi">1</span> <span class="o">&amp;&amp;</span> <span class="nx">form</span><span class="p">.</span><span class="nx">Expires</span> <span class="o">!=</span> <span class="mi">7</span> <span class="o">&amp;&amp;</span> <span class="nx">form</span><span class="p">.</span><span class="nx">Expires</span> <span class="o">!=</span> <span class="mi">365</span> <span class="p">{</span>
        <span class="nx">form</span><span class="p">.</span><span class="nx">FieldErrors</span><span class="p">[</span><span class="s">&#34;expires&#34;</span><span class="p">]</span> <span class="p">=</span> <span class="s">&#34;This field must equal 1, 7 or 365&#34;</span>
    <span class="p">}</span>

    <span class="c1">// If there are any validation errors, then re-display the create.tmpl template,
</span><span class="c1"></span>    <span class="c1">// passing in the snippetCreateForm instance as dynamic data in the Form 
</span><span class="c1"></span>    <span class="c1">// field. Note that we use the HTTP status code 422 Unprocessable Entity 
</span><span class="c1"></span>    <span class="c1">// when sending the response to indicate that there was a validation error.
</span><span class="c1"></span>    <span class="k">if</span> <span class="nb">len</span><span class="p">(</span><span class="nx">form</span><span class="p">.</span><span class="nx">FieldErrors</span><span class="p">)</span> <span class="p">&gt;</span> <span class="mi">0</span> <span class="p">{</span>
        <span class="nx">data</span> <span class="o">:=</span> <span class="nx">app</span><span class="p">.</span><span class="nf">newTemplateData</span><span class="p">(</span><span class="nx">r</span><span class="p">)</span>
        <span class="nx">data</span><span class="p">.</span><span class="nx">Form</span> <span class="p">=</span> <span class="nx">form</span>
        <span class="nx">app</span><span class="p">.</span><span class="nf">render</span><span class="p">(</span><span class="nx">w</span><span class="p">,</span> <span class="nx">r</span><span class="p">,</span> <span class="nx">http</span><span class="p">.</span><span class="nx">StatusUnprocessableEntity</span><span class="p">,</span> <span class="s">&#34;create.tmpl&#34;</span><span class="p">,</span> <span class="nx">data</span><span class="p">)</span>
        <span class="k">return</span>
    <span class="p">}</span>

    <span class="c1">// We also need to update this line to pass the data from the
</span><span class="c1"></span>    <span class="c1">// snippetCreateForm instance to our Insert() method.
</span><span class="c1"></span>    <span class="nx">id</span><span class="p">,</span> <span class="nx">err</span> <span class="o">:=</span> <span class="nx">app</span><span class="p">.</span><span class="nx">snippets</span><span class="p">.</span><span class="nf">Insert</span><span class="p">(</span><span class="nx">form</span><span class="p">.</span><span class="nx">Title</span><span class="p">,</span> <span class="nx">form</span><span class="p">.</span><span class="nx">Content</span><span class="p">,</span> <span class="nx">form</span><span class="p">.</span><span class="nx">Expires</span><span class="p">)</span>
    <span class="k">if</span> <span class="nx">err</span> <span class="o">!=</span> <span class="kc">nil</span> <span class="p">{</span>
        <span class="nx">app</span><span class="p">.</span><span class="nf">serverError</span><span class="p">(</span><span class="nx">w</span><span class="p">,</span> <span class="nx">r</span><span class="p">,</span> <span class="nx">err</span><span class="p">)</span>
        <span class="k">return</span>
    <span class="p">}</span>

    <span class="nx">http</span><span class="p">.</span><span class="nf">Redirect</span><span class="p">(</span><span class="nx">w</span><span class="p">,</span> <span class="nx">r</span><span class="p">,</span> <span class="nx">fmt</span><span class="p">.</span><span class="nf">Sprintf</span><span class="p">(</span><span class="s">&#34;/snippet/view/%d&#34;</span><span class="p">,</span> <span class="nx">id</span><span class="p">)</span><span class="p">,</span> <span class="nx">http</span><span class="p">.</span><span class="nx">StatusSeeOther</span><span class="p">)</span>
<span class="p">}</span></pre>
</figure>

<p>خب، حالا وقتی خطاهای اعتبارسنجی وجود دارد، قالب <code>create.tmpl</code> را مجدداً نمایش می‌دهیم و داده‌های قبلی و خطاهای اعتبارسنجی را در یک ساختار <code>snippetCreateForm</code> از طریق فیلد <code>Form</code> داده‌های قالب ارسال می‌کنیم.</p>

<p>اگر مایل هستید، باید بتوانید در این مرحله برنامه را اجرا کنید و کد باید بدون هیچ خطایی کامپایل شود.</p>

<h3 id="updating-the-html-template">به‌روزرسانی قالب HTML</h3>

<p>کار بعدی که باید انجام دهیم به‌روزرسانی قالب <code>create.tmpl</code> برای نمایش خطاهای اعتبارسنجی و پر کردن مجدد داده‌های قبلی است.</p>

<p>پر کردن مجدد داده‌های فرم به اندازه کافی ساده است - باید بتوانیم این را در قالب‌ها با استفاده از تگ‌هایی مانند <code>{{.Form.Title}}</code> و <code>{{.Form.Content}}</code> رندر کنیم، به همان روشی که قبلاً در کتاب داده‌های اسنیپت را نمایش دادیم.</p>

<p>برای خطاهای اعتبارسنجی، نوع زیربنایی فیلد <code>FieldErrors</code> ما یک <code>map[string]string</code> است که از نام‌های فیلد فرم به عنوان کلید استفاده می‌کند. برای نقشه‌ها، می‌توان به مقدار یک کلید خاص با زنجیره کردن نام کلید دسترسی پیدا کرد. بنابراین، به عنوان مثال، برای رندر کردن یک خطای اعتبارسنجی برای فیلد <code>title</code> می‌توانیم از تگ <code>{{.Form.FieldErrors.title}}</code> در قالب خود استفاده کنیم.</p>

<aside class="note"><p>
<strong>نکته:</strong> برخلاف فیلدهای ساختار، نام‌های کلید نقشه <em>نیازی به بزرگ بودن</em> برای دسترسی از قالب ندارند.
</p></aside>

<p>با این در نظر گرفتن، بیایید فایل <code>create.tmpl</code> را به‌روزرسانی کنیم تا داده‌ها را مجدداً پر کند و پیام‌های خطا را برای هر فیلد، در صورت وجود، نمایش دهد.</p>

<figure class="code html">
<figcaption>File: ui/html/pages/create.tmpl</figcaption>
<pre>{{define &#34;title&#34;}}Create a New Snippet{{end}}

{{define &#34;main&#34;}}
<span class="p">&lt;</span><span class="nt">form</span> <span class="na">action</span><span class="o">=</span><span class="s">&#39;/snippet/create&#39;</span> <span class="na">method</span><span class="o">=</span><span class="s">&#39;POST&#39;</span><span class="p"></span><span class="p">&gt;</span>
    <span class="p">&lt;</span><span class="nt">div</span><span class="p"></span><span class="p">&gt;</span>
        <span class="p">&lt;</span><span class="nt">label</span><span class="p"></span><span class="p">&gt;</span>Title:<span class="p">&lt;</span><span class="p">/</span><span class="nt">label</span><span class="p">&gt;</span>
        {{with .Form.FieldErrors.title}}
            <span class="p">&lt;</span><span class="nt">label</span> <span class="na">class</span><span class="o">=</span><span class="s">&#39;error&#39;</span><span class="p"></span><span class="p">&gt;</span>{{.}}<span class="p">&lt;</span><span class="p">/</span><span class="nt">label</span><span class="p">&gt;</span>
        {{end}}
        <span class="p">&lt;</span><span class="nt">input</span> <span class="na">type</span><span class="o">=</span><span class="s">&#39;text&#39;</span> <span class="na">name</span><span class="o">=</span><span class="s">&#39;title&#39;</span> <span class="na">value</span><span class="o">=</span><span class="s">&#39;{{.Form.Title}}&#39;</span><span class="p"></span><span class="p">&gt;</span>
    <span class="p">&lt;</span><span class="p">/</span><span class="nt">div</span><span class="p">&gt;</span>
    <span class="p">&lt;</span><span class="nt">div</span><span class="p"></span><span class="p">&gt;</span>
        <span class="p">&lt;</span><span class="nt">label</span><span class="p"></span><span class="p">&gt;</span>Content:<span class="p">&lt;</span><span class="p">/</span><span class="nt">label</span><span class="p">&gt;</span>
        {{with .Form.FieldErrors.content}}
            <span class="p">&lt;</span><span class="nt">label</span> <span class="na">class</span><span class="o">=</span><span class="s">&#39;error&#39;</span><span class="p"></span><span class="p">&gt;</span>{{.}}<span class="p">&lt;</span><span class="p">/</span><span class="nt">label</span><span class="p">&gt;</span>
        {{end}}
        <span class="p">&lt;</span><span class="nt">textarea</span> <span class="na">name</span><span class="o">=</span><span class="s">&#39;content&#39;</span><span class="p"></span><span class="p">&gt;</span>{{.Form.Content}}<span class="p">&lt;</span><span class="p">/</span><span class="nt">textarea</span><span class="p">&gt;</span>
    <span class="p">&lt;</span><span class="p">/</span><span class="nt">div</span><span class="p">&gt;</span>
    <span class="p">&lt;</span><span class="nt">div</span><span class="p"></span><span class="p">&gt;</span>
        <span class="p">&lt;</span><span class="nt">label</span><span class="p"></span><span class="p">&gt;</span>Delete in:<span class="p">&lt;</span><span class="p">/</span><span class="nt">label</span><span class="p">&gt;</span>
        {{with .Form.FieldErrors.expires}}
            <span class="p">&lt;</span><span class="nt">label</span> <span class="na">class</span><span class="o">=</span><span class="s">&#39;error&#39;</span><span class="p"></span><span class="p">&gt;</span>{{.}}<span class="p">&lt;</span><span class="p">/</span><span class="nt">label</span><span class="p">&gt;</span>
        {{end}}
        <span class="p">&lt;</span><span class="nt">input</span> <span class="na">type</span><span class="o">=</span><span class="s">&#39;radio&#39;</span> <span class="na">name</span><span class="o">=</span><span class="s">&#39;expires&#39;</span> <span class="na">value</span><span class="o">=</span><span class="s">&#39;365&#39;</span> {{if (eq .Form.Expires 365)}}checked{{end}}><span class="p"></span><span class="p">&gt;</span> One Year
        <span class="p">&lt;</span><span class="nt">input</span> <span class="na">type</span><span class="o">=</span><span class="s">&#39;radio&#39;</span> <span class="na">name</span><span class="o">=</span><span class="s">&#39;expires&#39;</span> <span class="na">value</span><span class="o">=</span><span class="s">&#39;7&#39;</span> {{if (eq .Form.Expires 7)}}checked{{end}}><span class="p"></span><span class="p">&gt;</span> One Week
        <span class="p">&lt;</span><span class="nt">input</span> <span class="na">type</span><span class="o">=</span><span class="s">&#39;radio&#39;</span> <span class="na">name</span><span class="o">=</span><span class="s">&#39;expires&#39;</span> <span class="na">value</span><span class="o">=</span><span class="s">&#39;1&#39;</span> {{if (eq .Form.Expires 1)}}checked{{end}}><span class="p"></span><span class="p">&gt;</span> One Day
    <span class="p">&lt;</span><span class="p">/</span><span class="nt">div</span><span class="p">&gt;</span>
    <span class="p">&lt;</span><span class="nt">div</span><span class="p"></span><span class="p">&gt;</span>
        <span class="p">&lt;</span><span class="nt">input</span> <span class="na">type</span><span class="o">=</span><span class="s">&#39;submit&#39;</span> <span class="na">value</span><span class="o">=</span><span class="s">&#39;Publish snippet&#39;</span><span class="p"></span><span class="p">&gt;</span>
    <span class="p">&lt;</span><span class="p">/</span><span class="nt">div</span><span class="p">&gt;</span>
<span class="p">&lt;</span><span class="p">/</span><span class="nt">form</span><span class="p">&gt;</span>
{{end}}</pre>
</figure>

<p>امیدوارم این نشانه‌گذاری و استفاده ما از اکشن‌های قالب‌سازی Go به طور کلی واضح باشد - فقط از تکنیک‌هایی استفاده می‌کند که قبلاً در کتاب <a href="05.02-template-actions-and-functions.html">دیده و بحث کرده‌ایم</a>.</p>

<p>یک کار نهایی باقی مانده است. اگر الان سعی کنیم برنامه را اجرا کنیم، وقتی برای اولین بار از فرم در <a href="http://localhost:4000/snippet/create"><code>http://localhost:4000/snippet/create</code></a> بازدید می‌کنیم، یک خطای <code>500 Internal Server Error</code> دریافت خواهیم کرد. این به این دلیل است که هندلر <code>snippetCreate</code> ما در حال حاضر مقداری برای فیلد <code>templateData.Form</code> تنظیم نمی‌کند، به این معنی که وقتی Go سعی می‌کند یک تگ قالب مانند <code>{{with .Form.FieldErrors.title}}</code> را ارزیابی کند، منجر به خطا می‌شود زیرا <code>Form</code> برابر با <code>nil</code> است.</p>

<p>بیایید با به‌روزرسانی هندلر <code>snippetCreate</code> خود این مشکل را برطرف کنیم تا یک نمونه جدید <code>snippetCreateForm</code> را مقداردهی اولیه کند و آن را به قالب ارسال کند، مانند این:</p>

<figure class="code go">
<figcaption>File: cmd/web/handlers.go</figcaption>
<pre><span class="kn">package</span> <span class="nx">main</span>

<span class="o">...</span>

<span class="kd">func</span> <span class="p">(</span><span class="nx">app</span> <span class="o">*</span><span class="nx">application</span><span class="p">)</span> <span class="nf">snippetCreate</span><span class="p">(</span><span class="nx">w</span> <span class="nx">http</span><span class="p">.</span><span class="nx">ResponseWriter</span><span class="p">,</span> <span class="nx">r</span> <span class="o">*</span><span class="nx">http</span><span class="p">.</span><span class="nx">Request</span><span class="p">)</span> <span class="p">{</span>
    <span class="nx">data</span> <span class="o">:=</span> <span class="nx">app</span><span class="p">.</span><span class="nf">newTemplateData</span><span class="p">(</span><span class="nx">r</span><span class="p">)</span>

    <span class="c1">// Initialize a new snippetCreateForm instance and pass it to the template.
</span><span class="c1"></span>    <span class="c1">// Notice how this is also a great opportunity to set any default or
</span><span class="c1"></span>    <span class="c1">// &#39;initial&#39; values for the form --- here we set the initial value for the 
</span><span class="c1"></span>    <span class="c1">// snippet expiry to 365 days.
</span><span class="c1"></span>    <span class="nx">data</span><span class="p">.</span><span class="nx">Form</span> <span class="p">=</span> <span class="nx">snippetCreateForm</span><span class="p">{</span>
        <span class="nx">Expires</span><span class="p">:</span> <span class="mi">365</span><span class="p">,</span>
    <span class="p">}</span>

    <span class="nx">app</span><span class="p">.</span><span class="nf">render</span><span class="p">(</span><span class="nx">w</span><span class="p">,</span> <span class="nx">r</span><span class="p">,</span> <span class="nx">http</span><span class="p">.</span><span class="nx">StatusOK</span><span class="p">,</span> <span class="s">&#34;create.tmpl&#34;</span><span class="p">,</span> <span class="nx">data</span><span class="p">)</span>
<span class="p">}</span>

<span class="o">...</span></pre>
</figure>

<p>حالا که این کار انجام شد، لطفاً برنامه را مجدداً راه‌اندازی کنید و از <a href="http://localhost:4000/snippet/create"><code>http://localhost:4000/snippet/create</code></a> در مرورگر خود بازدید کنید. باید متوجه شوید که صفحه بدون هیچ خطایی به درستی رندر می‌شود.</p>

<p>سپس سعی کنید مقداری محتوا اضافه کنید و زمان انقضای پیش‌فرض را تغییر دهید، اما <em>فیلد عنوان را خالی بگذارید</em> مانند این:</p>

<figure class="img">
<img src="assets/img/07.04-01.png" alt="07.04-01.png" />
</figure>

<p>پس از ارسال، اکنون باید فرم را مجدداً با محتوای اسنیپت و گزینه انقضای صحیح پر شده ببینید، و یک پیام خطای "این فیلد نمی‌تواند خالی باشد" در کنار فیلد عنوان مشاهده کنید:</p>

<figure class="img">
<img src="assets/img/07.04-02.png" alt="07.04-02.png" />
</figure>

<p>قبل از ادامه، لطفاً کمی وقت صرف بازی با فرم و قوانین اعتبارسنجی کنید تا مطمئن شوید که همه چیز همانطور که انتظار دارید کار می‌کند.</p>

<hr />

<h3 id="additional-information">اطلاعات تکمیلی</h3>

<h4 id="restful-routing">مسیریابی RESTful</h4>

<p>اگر پیش‌زمینه‌ای در Ruby-on-Rails، Laravel یا مشابه آن دارید، ممکن است تعجب کنید که چرا مسیرها و هندلرهای خود را بیشتر 'RESTful' نکرده‌ایم تا به این شکل باشند:</p>

<table>
<thead>
<tr>
<th>الگوی مسیر</th>
<th>هندلر</th>
<th>عملیات</th>
</tr>
</thead>

<tbody>
<tr>
<td>GET /snippets</td>
<td>snippetIndex</td>
<td>نمایش صفحه اصلی</td>
</tr>

<tr>
<td>GET /snippets/{id}</td>
<td>snippetView</td>
<td>نمایش یک اسنیپت خاص</td>
</tr>

<tr>
<td>GET /snippets/create</td>
<td>snippetCreate</td>
<td>نمایش فرم برای ایجاد یک اسنیپت جدید</td>
</tr>

<tr>
<td>POST /snippets</td>
<td>snippetCreatePost</td>
<td>ذخیره یک اسنیپت جدید</td>
</tr>
</tbody>
</table>

<p>چند دلیل وجود دارد.</p>

<p>دلیل اول به خاطر مسیرهای همپوشان است - یک درخواست HTTP به <code>/snippets/create</code> به طور بالقوه با هر دو مسیر <code>GET /snippets/{id}</code> و <code>GET /snippets/create</code> مطابقت دارد. در برنامه ما، مقادیر شناسه اسنیپت همیشه عددی هستند بنابراین هرگز همپوشانی 'واقعی' بین این دو مسیر وجود نخواهد داشت - اما تصور کنید اگر مقادیر شناسه اسنیپت ما توسط کاربر تولید می‌شدند، و یا یک رشته 6 کاراکتری تصادفی بودند، و امیدوارم بتوانید پتانسیل مشکل را ببینید. به طور کلی، مسیرهای همپوشان می‌توانند منبع باگ‌ها و رفتار غیرمنتظره در برنامه شما باشند، و بهتر است در صورت امکان از آنها اجتناب کنید - یا اگر نمی‌توانید، با دقت و احتیاط از آنها استفاده کنید.</p>

<p>دلیل دوم این است که فرم HTML ارائه شده در <code>/snippets/create</code> باید هنگام ارسال به <code>/snippets</code> پست شود. این بدان معناست که وقتی فرم HTML را برای نمایش هرگونه خطای اعتبارسنجی مجدداً رندر می‌کنیم، URL در مرورگر کاربر نیز به <code>/snippets</code> تغییر خواهد کرد. YMMV در مورد اینکه آیا این را مشکل می‌دانید یا نه - اکثر کاربران به URL‌ها نگاه نمی‌کنند، اما من فکر می‌کنم از نظر UX کمی ناهموار و گیج‌کننده است... به خصوص اگر یک درخواست <code>GET</code> به <code>/snippets</code> معمولاً چیز دیگری را رندر کند (مثل لیستی از همه اسنیپت‌ها).</p>

<h3 id="technical-glossary">واژه‌نامه اصطلاحات فنی</h3>

<table class="glossary">
    <tr>
        <th>اصطلاح فارسی</th>
        <th>معادل انگلیسی</th>
        <th>توضیح</th>
    </tr>
    <tr>
        <td>نمایش خطاها</td>
        <td>Displaying Errors</td>
        <td>نشان دادن پیام‌های خطا به کاربر</td>
    </tr>
    <tr>
        <td>پر کردن مجدد فیلدها</td>
        <td>Repopulating Fields</td>
        <td>بازگرداندن مقادیر قبلی به فیلدهای فرم</td>
    </tr>
    <tr>
        <td>خطاهای اعتبارسنجی</td>
        <td>Validation Errors</td>
        <td>پیام‌های خطا در مورد داده‌های نامعتبر</td>
    </tr>
    <tr>
        <td>نوع فرم</td>
        <td>Form Type</td>
        <td>ساختار داده برای نگهداری اطلاعات فرم</td>
    </tr>
    <tr>
        <td>داده‌های فرم</td>
        <td>Form Data</td>
        <td>اطلاعات وارد شده توسط کاربر در فرم</td>
    </tr>
    <tr>
        <td>فیلدهای فرم</td>
        <td>Form Fields</td>
        <td>المان‌های ورودی در فرم</td>
    </tr>
    <tr>
        <td>مقادیر پیش‌فرض</td>
        <td>Default Values</td>
        <td>مقادیر اولیه فیلدهای فرم</td>
    </tr>
    <tr>
        <td>بازخورد کاربر</td>
        <td>User Feedback</td>
        <td>پیام‌های راهنما برای کاربر</td>
    </tr>
    <tr>
        <td>تجربه کاربری</td>
        <td>User Experience</td>
        <td>کیفیت تعامل کاربر با فرم</td>
    </tr>
    <tr>
        <td>رابط کاربری</td>
        <td>User Interface</td>
        <td>نحوه نمایش و چیدمان فرم</td>
    </tr>
</table>

		</main>
		<footer>
			<div class="wrapper">
				<div>
					&lsaquo; <a href="07.03-validating-form-data.html">قبلی</a>
				</div>
				<div>
					<a href="00.01-contents.html">فهرست</a>
				</div>
				<div>
					<a href="07.05-creating-validation-helpers.html">بعدی</a> &rsaquo;
				</div>
			</div>
		</footer>
		<script>
			document.onkeydown = function(evt) {
				evt = evt || window.event;
				switch (evt.keyCode) {
					case 37:
						window.location.href = "07.03-validating-form-data.html";
						break;
					case 39:
						window.location.href = "07.05-creating-validation-helpers.html";
						break;
				}
			};
		</script>
	</body>
</html>

