<!DOCTYPE html>
<html lang="fa" dir="rtl">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="x-ua-compatible" content="ie=edge">
		<link rel="icon" type="image/x-icon" href="assets/img/favicon.ico">
		<title>Let's Go</title>
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<link rel="stylesheet" type="text/css" href="assets/css/main.css">
		<style>
			body { direction: rtl; }
			.code { direction: ltr; text-align: left; }
			.text { text-align: right; }
			.chapter { text-align: right; }
		</style>
	</head>
	<body>
		<header>
			<div class="wrapper">
				<div>
					<a href="index.html">Let's Go</a> <span class="crumbs">&rsaquo; <a href="07.00-processing-forms.html">پردازش فرم‌ها</a> &rsaquo; راه‌اندازی فرم HTML</span>
				</div>
				<div>
					&lsaquo; <a href="07.00-processing-forms.html">قبلی</a>
					&middot; <a href="00.01-contents.html">فهرست</a> &middot;
					<a href="07.02-parsing-form-data.html">بعدی</a> &rsaquo;
				</div>
			</div>
		</header>
		<main class="wrapper text">
			<div class="chapter">فصل ۷.۱</div>
			<h2 id="setting-up-an-html-form">راه‌اندازی فرم HTML (Setting Up an HTML Form)</h2>

<p>اولین قدم، ایجاد یک <dfn>فرم HTML (HTML Form)</dfn> است که به کاربران اجازه می‌دهد <dfn>قطعه‌های کد (Code Snippets)</dfn> جدید را ارسال کنند. این فرم باید شامل <dfn>فیلدهای ورودی (Input Fields)</dfn> برای عنوان، محتوا و مدت زمان انقضا باشد.</p>

<p>یک فایل <code>create.tmpl</code> جدید در دایرکتوری <code>ui/html</code> ایجاد کنید:</p>

<figure class="code html">
<figcaption>File: ui/html/pages/create.tmpl</figcaption>
<pre>{{define "title"}}ایجاد قطعه کد جدید{{end}}

{{define "main"}}
<form action='/snippet/create' method='POST'>
    <div>
        <label>عنوان:</label>
        <input type='text' name='title'>
    </div>
    <div>
        <label>محتوا:</label>
        <textarea name='content'></textarea>
    </div>
    <div>
        <label>مدت زمان:</label>
        <input type='radio' name='expires' value='365' checked> یک سال
        <input type='radio' name='expires' value='7'> یک هفته
        <input type='radio' name='expires' value='1'> یک روز
    </div>
    <div>
        <input type='submit' value='ایجاد قطعه کد'>
    </div>
</form>
{{end}}</pre>
</figure>

<h3 id="technical-glossary">واژه‌نامه اصطلاحات فنی</h3>

<table class="glossary">
    <tr>
        <th>اصطلاح فارسی</th>
        <th>معادل انگلیسی</th>
        <th>توضیح</th>
    </tr>
    <tr>
        <td>فرم HTML</td>
        <td>HTML Form</td>
        <td>ساختار HTML برای جمع‌آوری داده از کاربر</td>
    </tr>
    <tr>
        <td>قطعه‌های کد</td>
        <td>Code Snippets</td>
        <td>بخش‌های کوچک و مستقل کد</td>
    </tr>
    <tr>
        <td>فیلدهای ورودی</td>
        <td>Input Fields</td>
        <td>عناصر HTML برای دریافت داده از کاربر</td>
    </tr>
    <tr>
        <td>متد POST</td>
        <td>POST Method</td>
        <td>روش ارسال داده‌های فرم به سرور</td>
    </tr>
    <tr>
        <td>برچسب</td>
        <td>Label</td>
        <td>توضیح متنی برای فیلدهای ورودی</td>
    </tr>
    <tr>
        <td>ورودی متنی</td>
        <td>Text Input</td>
        <td>فیلد ورودی برای متن یک خطی</td>
    </tr>
    <tr>
        <td>ناحیه متنی</td>
        <td>Textarea</td>
        <td>فیلد ورودی برای متن چند خطی</td>
    </tr>
    <tr>
        <td>دکمه رادیویی</td>
        <td>Radio Button</td>
        <td>دکمه انتخاب یکی از چند گزینه</td>
    </tr>
    <tr>
        <td>دکمه ارسال</td>
        <td>Submit Button</td>
        <td>دکمه برای ارسال فرم</td>
    </tr>
    <tr>
        <td>قالب</td>
        <td>Template</td>
        <td>الگوی HTML برای تولید صفحات پویا</td>
    </tr>
</table>

		</main>
		<footer>
			<div class="wrapper">
				<div>
					&lsaquo; <a href="07.00-processing-forms.html">قبلی</a>
				</div>
				<div>
					<a href="00.01-contents.html">فهرست</a>
				</div>
				<div>
					<a href="07.02-parsing-form-data.html">بعدی</a> &rsaquo;
				</div>
			</div>
		</footer>
		<script>
			document.onkeydown = function(evt) {
				evt = evt || window.event;
				switch (evt.keyCode) {
					case 37:
						window.location.href = "07.00-processing-forms.html";
						break;
					case 39:
						window.location.href = "07.02-parsing-form-data.html";
						break;
				}
			};
		</script>
	</body>
</html>

