<!DOCTYPE html>
<html lang="fa" dir="rtl">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="x-ua-compatible" content="ie=edge">

		
		<title>کار با داده‌های نشست &mdash; Let's Go</title>
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<link rel="stylesheet" type="text/css" href="assets/css/main.css">
	<link rel="icon" type="image/x-icon" href="assets/img/favicon.ico">
	</head>
	<body>
		<header>
			<div class="wrapper">
				<div>
					
						
						<a href="00.00-front-matter.html">Let's Go</a> <span class="crumbs">&rsaquo; <a href="08.00-stateful-http.html">HTTP با حالت</a> &rsaquo; کار با داده‌های نشست</span>
						
					
				</div>
				<div>
					&lsaquo; <a href="08.02-setting-up-the-session-manager.html">قبلی</a>
					&middot; <a href="00.01-contents.html">فهرست</a> &middot;
					<a href="09.00-server-and-security-improvements.html">بعدی</a> &rsaquo;
				</div>
			</div>
		</header>
		<main class="wrapper text">
			<div class="chapter">فصل ۸.۳.</div>
			<h2 id="working-with-session-data">کار با داده‌های نشست</h2>

<p>در این فصل بیایید عملکرد نشست را به کار ببریم و از آن برای ماندگار کردن پیام فلش تأیید بین درخواست‌های HTTP که <a href="08.00-stateful-http.html">قبلاً بحث کردیم</a> استفاده کنیم.</p>

<p>در فایل <code>cmd/web/handlers.go</code> خود شروع می‌کنیم و متد <code>snippetCreatePost</code> خود را به‌روزرسانی می‌کنیم تا یک پیام فلش به داده‌های نشست کاربر اضافه شود اگر &mdash; و فقط اگر &mdash; اسنیپت با موفقیت ایجاد شده باشد. به این صورت:</p>

<figure class="code go">
<figcaption>File: cmd/web/handlers.go</figcaption>
<pre><span class="kn">package</span> <span class="nx">main</span>

<span class="o">...</span>

<span class="kd">func</span> <span class="p">(</span><span class="nx">app</span> <span class="o">*</span><span class="nx">application</span><span class="p">)</span> <span class="nf">snippetCreatePost</span><span class="p">(</span><span class="nx">w</span> <span class="nx">http</span><span class="p">.</span><span class="nx">ResponseWriter</span><span class="p">,</span> <span class="nx">r</span> <span class="o">*</span><span class="nx">http</span><span class="p">.</span><span class="nx">Request</span><span class="p">)</span> <span class="p">{</span>
    <span class="kd">var</span> <span class="nx">form</span> <span class="nx">snippetCreateForm</span>

    <span class="nx">err</span> <span class="o">:=</span> <span class="nx">app</span><span class="p">.</span><span class="nf">decodePostForm</span><span class="p">(</span><span class="nx">r</span><span class="p">,</span> <span class="o">&amp;</span><span class="nx">form</span><span class="p">)</span>
    <span class="k">if</span> <span class="nx">err</span> <span class="o">!=</span> <span class="kc">nil</span> <span class="p">{</span>
        <span class="nx">app</span><span class="p">.</span><span class="nf">clientError</span><span class="p">(</span><span class="nx">w</span><span class="p">,</span> <span class="nx">http</span><span class="p">.</span><span class="nx">StatusBadRequest</span><span class="p">)</span>
        <span class="k">return</span>
    <span class="p">}</span>

    <span class="nx">form</span><span class="p">.</span><span class="nf">CheckField</span><span class="p">(</span><span class="nx">validator</span><span class="p">.</span><span class="nf">NotBlank</span><span class="p">(</span><span class="nx">form</span><span class="p">.</span><span class="nx">Title</span><span class="p">)</span><span class="p">,</span> <span class="s">&#34;title&#34;</span><span class="p">,</span> <span class="s">&#34;This field cannot be blank&#34;</span><span class="p">)</span>
    <span class="nx">form</span><span class="p">.</span><span class="nf">CheckField</span><span class="p">(</span><span class="nx">validator</span><span class="p">.</span><span class="nf">MaxChars</span><span class="p">(</span><span class="nx">form</span><span class="p">.</span><span class="nx">Title</span><span class="p">,</span> <span class="mi">100</span><span class="p">)</span><span class="p">,</span> <span class="s">&#34;title&#34;</span><span class="p">,</span> <span class="s">&#34;This field cannot be more than 100 characters long&#34;</span><span class="p">)</span>
    <span class="nx">form</span><span class="p">.</span><span class="nf">CheckField</span><span class="p">(</span><span class="nx">validator</span><span class="p">.</span><span class="nf">NotBlank</span><span class="p">(</span><span class="nx">form</span><span class="p">.</span><span class="nx">Content</span><span class="p">)</span><span class="p">,</span> <span class="s">&#34;content&#34;</span><span class="p">,</span> <span class="s">&#34;This field cannot be blank&#34;</span><span class="p">)</span>
    <span class="nx">form</span><span class="p">.</span><span class="nf">CheckField</span><span class="p">(</span><span class="nx">validator</span><span class="p">.</span><span class="nf">PermittedValue</span><span class="p">(</span><span class="nx">form</span><span class="p">.</span><span class="nx">Expires</span><span class="p">,</span> <span class="mi">1</span><span class="p">,</span> <span class="mi">7</span><span class="p">,</span> <span class="mi">365</span><span class="p">)</span><span class="p">,</span> <span class="s">&#34;expires&#34;</span><span class="p">,</span> <span class="s">&#34;This field must equal 1, 7 or 365&#34;</span><span class="p">)</span>

    <span class="k">if</span> <span class="p">!</span><span class="nx">form</span><span class="p">.</span><span class="nf">Valid</span><span class="p">(</span><span class="p">)</span> <span class="p">{</span>
        <span class="nx">data</span> <span class="o">:=</span> <span class="nx">app</span><span class="p">.</span><span class="nf">newTemplateData</span><span class="p">(</span><span class="nx">r</span><span class="p">)</span>
        <span class="nx">data</span><span class="p">.</span><span class="nx">Form</span> <span class="p">=</span> <span class="nx">form</span>
        <span class="nx">app</span><span class="p">.</span><span class="nf">render</span><span class="p">(</span><span class="nx">w</span><span class="p">,</span> <span class="nx">r</span><span class="p">,</span> <span class="nx">http</span><span class="p">.</span><span class="nx">StatusUnprocessableEntity</span><span class="p">,</span> <span class="s">&#34;create.tmpl&#34;</span><span class="p">,</span> <span class="nx">data</span><span class="p">)</span>
        <span class="k">return</span>
    <span class="p">}</span>

    <span class="nx">id</span><span class="p">,</span> <span class="nx">err</span> <span class="o">:=</span> <span class="nx">app</span><span class="p">.</span><span class="nx">snippets</span><span class="p">.</span><span class="nf">Insert</span><span class="p">(</span><span class="nx">form</span><span class="p">.</span><span class="nx">Title</span><span class="p">,</span> <span class="nx">form</span><span class="p">.</span><span class="nx">Content</span><span class="p">,</span> <span class="nx">form</span><span class="p">.</span><span class="nx">Expires</span><span class="p">)</span>
    <span class="k">if</span> <span class="nx">err</span> <span class="o">!=</span> <span class="kc">nil</span> <span class="p">{</span>
        <span class="nx">app</span><span class="p">.</span><span class="nf">serverError</span><span class="p">(</span><span class="nx">w</span><span class="p">,</span> <span class="nx">r</span><span class="p">,</span> <span class="nx">err</span><span class="p">)</span>
        <span class="k">return</span>
    <span class="p">}</span>

    <span class="c1">// Use the Put() method to add a string value (&#34;Snippet successfully 
</span><span class="c1"></span>    <span class="c1">// created!&#34;) and the corresponding key (&#34;flash&#34;) to the session data.
</span><span class="c1"></span>    <span class="nx">app</span><span class="p">.</span><span class="nx">sessionManager</span><span class="p">.</span><span class="nf">Put</span><span class="p">(</span><span class="nx">r</span><span class="p">.</span><span class="nf">Context</span><span class="p">(</span><span class="p">)</span><span class="p">,</span> <span class="s">&#34;flash&#34;</span><span class="p">,</span> <span class="s">&#34;Snippet successfully created!&#34;</span><span class="p">)</span>

    <span class="nx">http</span><span class="p">.</span><span class="nf">Redirect</span><span class="p">(</span><span class="nx">w</span><span class="p">,</span> <span class="nx">r</span><span class="p">,</span> <span class="nx">fmt</span><span class="p">.</span><span class="nf">Sprintf</span><span class="p">(</span><span class="s">&#34;/snippet/view/%d&#34;</span><span class="p">,</span> <span class="nx">id</span><span class="p">)</span><span class="p">,</span> <span class="nx">http</span><span class="p">.</span><span class="nx">StatusSeeOther</span><span class="p">)</span>
<span class="p">}</span></pre>
</figure>

<p>این خوب و ساده است، اما چند نکته برای اشاره وجود دارد:</p>

<ul>
<li><p>اولین پارامتری که به <a href="https://pkg.go.dev/github.com/alexedwards/scs/v2#SessionManager.Put"><code>app.sessionManager.Put()</code></a> می‌دهیم، <em>context درخواست فعلی</em> است. بعداً در کتاب به درستی درباره اینکه context درخواست چیست و چگونه از آن استفاده کنیم صحبت خواهیم کرد، اما برای الان فقط می‌توانید آن را جایی در نظر بگیرید که مدیر نشست به طور موقت اطلاعات را ذخیره می‌کند در حالی که handlerهای شما با درخواست سروکار دارند.</p></li>

<li><p>پارامتر دوم (در مورد ما رشته <code>&quot;flash&quot;</code>) <em>کلید</em> برای پیام خاصی است که به داده‌های نشست اضافه می‌کنیم. بعداً پیام را از داده‌های نشست با استفاده از این کلید نیز بازیابی خواهیم کرد.</p></li>

<li><p>اگر نشست موجودی برای کاربر فعلی وجود ندارد (یا نشست آن‌ها منقضی شده است)، یک نشست جدید و خالی برای آن‌ها به طور خودکار توسط میدلور نشست ایجاد خواهد شد.</p></li>
</ul>

<p>بعد می‌خواهیم handler <code>snippetView</code> ما پیام فلش را بازیابی کند (اگر یکی در نشست برای کاربر فعلی وجود داشته باشد) و آن را به قالب HTML برای نمایش بعدی بدهد.</p>

<p>چون می‌خواهیم پیام فلش را فقط یک بار نمایش دهیم، در واقع می‌خواهیم پیام را از داده‌های نشست بازیابی <em>و حذف</em> کنیم. می‌توانیم هر دو این عملیات را همزمان با استفاده از متد <a href="https://pkg.go.dev/github.com/alexedwards/scs/v2#SessionManager.PopString"><code>PopString()</code></a> انجام دهیم.</p>

<p>نشان می‌دهم:</p>

<figure class="code go">
<figcaption>File: cmd/web/handlers.go</figcaption>
<pre><span class="kn">package</span> <span class="nx">main</span>

<span class="o">...</span>

<span class="kd">func</span> <span class="p">(</span><span class="nx">app</span> <span class="o">*</span><span class="nx">application</span><span class="p">)</span> <span class="nf">snippetView</span><span class="p">(</span><span class="nx">w</span> <span class="nx">http</span><span class="p">.</span><span class="nx">ResponseWriter</span><span class="p">,</span> <span class="nx">r</span> <span class="o">*</span><span class="nx">http</span><span class="p">.</span><span class="nx">Request</span><span class="p">)</span> <span class="p">{</span>
    <span class="nx">id</span><span class="p">,</span> <span class="nx">err</span> <span class="o">:=</span> <span class="nx">strconv</span><span class="p">.</span><span class="nf">Atoi</span><span class="p">(</span><span class="nx">r</span><span class="p">.</span><span class="nf">PathValue</span><span class="p">(</span><span class="s">&#34;id&#34;</span><span class="p">)</span><span class="p">)</span>
    <span class="k">if</span> <span class="nx">err</span> <span class="o">!=</span> <span class="kc">nil</span> <span class="o">||</span> <span class="nx">id</span> <span class="p">&lt;</span> <span class="mi">1</span> <span class="p">{</span>
        <span class="nx">http</span><span class="p">.</span><span class="nf">NotFound</span><span class="p">(</span><span class="nx">w</span><span class="p">,</span> <span class="nx">r</span><span class="p">)</span>
        <span class="k">return</span>
    <span class="p">}</span>

    <span class="nx">snippet</span><span class="p">,</span> <span class="nx">err</span> <span class="o">:=</span> <span class="nx">app</span><span class="p">.</span><span class="nx">snippets</span><span class="p">.</span><span class="nf">Get</span><span class="p">(</span><span class="nx">id</span><span class="p">)</span>
    <span class="k">if</span> <span class="nx">err</span> <span class="o">!=</span> <span class="kc">nil</span> <span class="p">{</span>
        <span class="k">if</span> <span class="nx">errors</span><span class="p">.</span><span class="nf">Is</span><span class="p">(</span><span class="nx">err</span><span class="p">,</span> <span class="nx">models</span><span class="p">.</span><span class="nx">ErrNoRecord</span><span class="p">)</span> <span class="p">{</span>
            <span class="nx">http</span><span class="p">.</span><span class="nf">NotFound</span><span class="p">(</span><span class="nx">w</span><span class="p">,</span> <span class="nx">r</span><span class="p">)</span>
        <span class="p">}</span> <span class="k">else</span> <span class="p">{</span>
            <span class="nx">app</span><span class="p">.</span><span class="nf">serverError</span><span class="p">(</span><span class="nx">w</span><span class="p">,</span> <span class="nx">r</span><span class="p">,</span> <span class="nx">err</span><span class="p">)</span>
        <span class="p">}</span>
        <span class="k">return</span>
    <span class="p">}</span>

    <span class="c1">// Use the PopString() method to retrieve the value for the &#34;flash&#34; key.
</span><span class="c1"></span>    <span class="c1">// PopString() also deletes the key and value from the session data, so it
</span><span class="c1"></span>    <span class="c1">// acts like a one-time fetch. If there is no matching key in the session
</span><span class="c1"></span>    <span class="c1">// data this will return the empty string.
</span><span class="c1"></span>    <span class="nx">flash</span> <span class="o">:=</span> <span class="nx">app</span><span class="p">.</span><span class="nx">sessionManager</span><span class="p">.</span><span class="nf">PopString</span><span class="p">(</span><span class="nx">r</span><span class="p">.</span><span class="nf">Context</span><span class="p">(</span><span class="p">)</span><span class="p">,</span> <span class="s">&#34;flash&#34;</span><span class="p">)</span>

    <span class="nx">data</span> <span class="o">:=</span> <span class="nx">app</span><span class="p">.</span><span class="nf">newTemplateData</span><span class="p">(</span><span class="nx">r</span><span class="p">)</span>
    <span class="nx">data</span><span class="p">.</span><span class="nx">Snippet</span> <span class="p">=</span> <span class="nx">snippet</span>

    <span class="c1">// Pass the flash message to the template.
</span><span class="c1"></span>    <span class="nx">data</span><span class="p">.</span><span class="nx">Flash</span> <span class="p">=</span> <span class="nx">flash</span> 

    <span class="nx">app</span><span class="p">.</span><span class="nf">render</span><span class="p">(</span><span class="nx">w</span><span class="p">,</span> <span class="nx">r</span><span class="p">,</span> <span class="nx">http</span><span class="p">.</span><span class="nx">StatusOK</span><span class="p">,</span> <span class="s">&#34;view.tmpl&#34;</span><span class="p">,</span> <span class="nx">data</span><span class="p">)</span>
<span class="p">}</span>

<span class="o">...</span></pre>
</figure>

<aside class="hint"><p>
<strong>اطلاعات:</strong> اگر می‌خواهید فقط یک مقدار را از داده‌های نشست بازیابی کنید (و آن را در آنجا بگذارید) می‌توانید به جای آن از متد <code>GetString()</code> استفاده کنید. بسته <code>scs</code> همچنین متدهایی برای بازیابی انواع داده رایج دیگر ارائه می‌دهد، از جمله <code>GetInt()</code>، <code>GetBool()</code>، <code>GetBytes()</code> و <code>GetTime()</code>.</p></aside>

<p>اگر الان سعی کنید برنامه را اجرا کنید، کامپایلر (درست) شکایت می‌کند که فیلد <code>Flash</code> در ساختار <code>templateData</code> ما تعریف نشده است. پیش بروید و آن را به این صورت اضافه کنید:</p>

<figure class="code go" dir="ltr">
<figcaption>File: cmd/web/templates.go</figcaption>
<pre><span class="kn">package</span> <span class="nx">main</span>

<span class="kn">import</span> <span class="p">(</span>
    <span class="s">&#34;html/template&#34;</span>
    <span class="s">&#34;path/filepath&#34;</span>
    <span class="s">&#34;time&#34;</span>

    <span class="s">&#34;snippetbox.alexedwards.net/internal/models&#34;</span>
<span class="p">)</span>

<span class="kd">type</span> <span class="nx">templateData</span> <span class="kd">struct</span> <span class="p">{</span>
    <span class="nx">CurrentYear</span> <span class="kt">int</span>
    <span class="nx">Snippet</span>     <span class="nx">models</span><span class="p">.</span><span class="nx">Snippet</span>
    <span class="nx">Snippets</span>    <span class="p">[</span><span class="p">]</span><span class="nx">models</span><span class="p">.</span><span class="nx">Snippet</span>
    <span class="nx">Form</span>        <span class="nx">any</span>
    <span class="nx">Flash</span>       <span class="kt">string</span> <span class="c1">// Add a Flash field to the templateData struct.
</span><span class="c1"></span><span class="p">}</span>

<span class="o">...</span></pre>
</figure>

<p>و حالا، می‌توانیم فایل <code>base.tmpl</code> خود را برای نمایش پیام فلش، در صورت وجود، به‌روزرسانی کنیم.</p>

<figure class="code html" dir="ltr">
<figcaption>File: ui/html/base.tmpl</figcaption>
<pre>{{define &#34;base&#34;}}
<span class="cp">&lt;!doctype html&gt;</span>
<span class="p">&lt;</span><span class="nt">html</span> <span class="na">lang</span><span class="o">=</span><span class="s">&#39;en&#39;</span><span class="p"></span><span class="p">&gt;</span>
    <span class="p">&lt;</span><span class="nt">head</span><span class="p"></span><span class="p">&gt;</span>
        <span class="p">&lt;</span><span class="nt">meta</span> <span class="na">charset</span><span class="o">=</span><span class="s">&#39;utf-8&#39;</span><span class="p"></span><span class="p">&gt;</span>
        <span class="p">&lt;</span><span class="nt">title</span><span class="p"></span><span class="p">&gt;</span>{{template &#34;title&#34; .}} - Snippetbox<span class="p">&lt;</span><span class="p">/</span><span class="nt">title</span><span class="p">&gt;</span>
        <span class="p">&lt;</span><span class="nt">link</span> <span class="na">rel</span><span class="o">=</span><span class="s">&#39;stylesheet&#39;</span> <span class="na">href</span><span class="o">=</span><span class="s">&#39;/static/css/main.css&#39;</span><span class="p"></span><span class="p">&gt;</span>
        <span class="p">&lt;</span><span class="nt">link</span> <span class="na">rel</span><span class="o">=</span><span class="s">&#39;shortcut icon&#39;</span> <span class="na">href</span><span class="o">=</span><span class="s">&#39;/static/img/favicon.ico&#39;</span> <span class="na">type</span><span class="o">=</span><span class="s">&#39;image/x-icon&#39;</span><span class="p"></span><span class="p">&gt;</span>
        <span class="p">&lt;</span><span class="nt">link</span> <span class="na">rel</span><span class="o">=</span><span class="s">&#39;stylesheet&#39;</span> <span class="na">href</span><span class="o">=</span><span class="s">&#39;https://fonts.googleapis.com/css?family=Ubuntu+Mono:400,700&#39;</span><span class="p"></span><span class="p">&gt;</span>
    <span class="p">&lt;</span><span class="p">/</span><span class="nt">head</span><span class="p">&gt;</span>
    <span class="p">&lt;</span><span class="nt">body</span><span class="p"></span><span class="p">&gt;</span>
        <span class="p">&lt;</span><span class="nt">header</span><span class="p"></span><span class="p">&gt;</span>
            <span class="p">&lt;</span><span class="nt">h1</span><span class="p"></span><span class="p">&gt;</span><span class="p">&lt;</span><span class="nt">a</span> <span class="na">href</span><span class="o">=</span><span class="s">&#39;/&#39;</span><span class="p"></span><span class="p">&gt;</span>Snippetbox<span class="p">&lt;</span><span class="p">/</span><span class="nt">a</span><span class="p">&gt;</span><span class="p">&lt;</span><span class="p">/</span><span class="nt">h1</span><span class="p">&gt;</span>
        <span class="p">&lt;</span><span class="p">/</span><span class="nt">header</span><span class="p">&gt;</span>
        {{template &#34;nav&#34; .}}
        <span class="p">&lt;</span><span class="nt">main</span><span class="p"></span><span class="p">&gt;</span>
            <span class="c">&lt;!--</span><span class="c"> Display the flash message if one exists </span><span class="c">--&gt;</span>
            {{with .Flash}}
                <span class="p">&lt;</span><span class="nt">div</span> <span class="na">class</span><span class="o">=</span><span class="s">&#39;flash&#39;</span><span class="p"></span><span class="p">&gt;</span>{{.}}<span class="p">&lt;</span><span class="p">/</span><span class="nt">div</span><span class="p">&gt;</span>
            {{end}}
            {{template &#34;main&#34; .}}
        <span class="p">&lt;</span><span class="p">/</span><span class="nt">main</span><span class="p">&gt;</span>
        <span class="p">&lt;</span><span class="nt">footer</span><span class="p"></span><span class="p">&gt;</span>
            Powered by <span class="p">&lt;</span><span class="nt">a</span> <span class="na">href</span><span class="o">=</span><span class="s">&#39;https://golang.org/&#39;</span><span class="p"></span><span class="p">&gt;</span>Go<span class="p">&lt;</span><span class="p">/</span><span class="nt">a</span><span class="p">&gt;</span> in {{.CurrentYear}}
        <span class="p">&lt;</span><span class="p">/</span><span class="nt">footer</span><span class="p">&gt;</span>
        <span class="p">&lt;</span><span class="nt">script</span> <span class="na">src</span><span class="o">=</span><span class="s">&#39;/static/js/main.js&#39;</span> <span class="na">type</span><span class="o">=</span><span class="s">&#39;text/javascript&#39;</span><span class="p"></span><span class="p">&gt;</span><span class="p">&lt;</span><span class="p">/</span><span class="nt">script</span><span class="p">&gt;</span>
    <span class="p">&lt;</span><span class="p">/</span><span class="nt">body</span><span class="p">&gt;</span>
<span class="p">&lt;</span><span class="p">/</span><span class="nt">html</span><span class="p">&gt;</span>
{{end}}</pre>
</figure>

<p>به یاد داشته باشید، بلوک <code>{{with .Flash}}</code> فقط اجرا می‌شود اگر مقدار <code>.Flash</code> <a href="05.02-template-actions-and-functions.html">رشته خالی نباشد (not the empty string)</a>. بنابراین، اگر کلید <code>&quot;flash&quot;</code> در نشست کاربر فعلی وجود نداشته باشد، نتیجه این است که تکه نشانه‌گذاری جدید (chunk of new markup) به سادگی نمایش داده نخواهد شد.</p>

<p>وقتی این کار انجام شد، همه فایل‌های خود را ذخیره کنید و برنامه را مجدداً راه‌اندازی کنید. سعی کنید یک اسنیپت جدید اضافه کنید، به این صورت&hellip;</p>

<figure class="img">
<img src="assets/img/08.03-01.png" alt="08.03-01.png" />
</figure>

<p>و پس از هدایت باید پیام فلش را که حالا نمایش داده می‌شود ببینید:</p>

<figure class="img">
<img src="assets/img/08.03-02.png" alt="08.03-02.png" />
</figure>

<p>اگر سعی کنید صفحه را رفرش کنید، می‌توانید تأیید کنید که پیام فلش دیگر نمایش داده نمی‌شود &mdash; این یک پیام یکباره برای کاربر فعلی بلافاصله پس از ایجاد اسنیپت بود.</p>

<figure class="img">
<img src="assets/img/08.03-03.png" alt="08.03-03.png" />
</figure>

<h3 id="auto-displaying-flash-messages">نمایش خودکار پیام‌های فلش</h3>

<p>بهبود کوچکی که می‌توانیم انجام دهیم (که بعداً در پروژه کار ما را صرفه‌جویی می‌کند) خودکارسازی نمایش پیام‌های فلش است، به طوری که هر پیامی به طور خودکار دفعه بعدی که <em>هر صفحه رندر می‌شود</em> گنجانده شود.</p>

<p>می‌توانیم این کار را با افزودن هر پیام فلش به داده قالب از طریق متد کمک‌کننده <code>newTemplateData()</code> که قبلاً ساختیم انجام دهیم، به این صورت:</p>

<figure class="code go" dir="ltr">
<figcaption>File: cmd/web/helpers.go</figcaption>
<pre><span class="kn">package</span> <span class="nx">main</span>

<span class="o">...</span>

<span class="kd">func</span> <span class="p">(</span><span class="nx">app</span> <span class="o">*</span><span class="nx">application</span><span class="p">)</span> <span class="nf">newTemplateData</span><span class="p">(</span><span class="nx">r</span> <span class="o">*</span><span class="nx">http</span><span class="p">.</span><span class="nx">Request</span><span class="p">)</span> <span class="nx">templateData</span> <span class="p">{</span>
    <span class="k">return</span> <span class="nx">templateData</span><span class="p">{</span>
        <span class="nx">CurrentYear</span><span class="p">:</span> <span class="nx">time</span><span class="p">.</span><span class="nf">Now</span><span class="p">(</span><span class="p">)</span><span class="p">.</span><span class="nf">Year</span><span class="p">(</span><span class="p">)</span><span class="p">,</span>
        <span class="c1">// Add the flash message to the template data, if one exists.
</span><span class="c1"></span>        <span class="nx">Flash</span><span class="p">:</span>       <span class="nx">app</span><span class="p">.</span><span class="nx">sessionManager</span><span class="p">.</span><span class="nf">PopString</span><span class="p">(</span><span class="nx">r</span><span class="p">.</span><span class="nf">Context</span><span class="p">(</span><span class="p">)</span><span class="p">,</span> <span class="s">&#34;flash&#34;</span><span class="p">)</span><span class="p">,</span>
    <span class="p">}</span>
<span class="p">}</span>

<span class="o">...</span></pre>
</figure>

<p>انجام این تغییر به این معنی است که دیگر نیازی به بررسی پیام فلش در داخل handler <code>snippetView</code> نداریم، و کد می‌تواند به این صورت برگردانده شود:</p>

<figure class="code go">
<figcaption>File: cmd/web/handlers.go</figcaption>
<pre><span class="kn">package</span> <span class="nx">main</span>

<span class="o">...</span>

<span class="kd">func</span> <span class="p">(</span><span class="nx">app</span> <span class="o">*</span><span class="nx">application</span><span class="p">)</span> <span class="nf">snippetView</span><span class="p">(</span><span class="nx">w</span> <span class="nx">http</span><span class="p">.</span><span class="nx">ResponseWriter</span><span class="p">,</span> <span class="nx">r</span> <span class="o">*</span><span class="nx">http</span><span class="p">.</span><span class="nx">Request</span><span class="p">)</span> <span class="p">{</span>
    <span class="nx">id</span><span class="p">,</span> <span class="nx">err</span> <span class="o">:=</span> <span class="nx">strconv</span><span class="p">.</span><span class="nf">Atoi</span><span class="p">(</span><span class="nx">r</span><span class="p">.</span><span class="nf">PathValue</span><span class="p">(</span><span class="s">&#34;id&#34;</span><span class="p">)</span><span class="p">)</span>
    <span class="k">if</span> <span class="nx">err</span> <span class="o">!=</span> <span class="kc">nil</span> <span class="o">||</span> <span class="nx">id</span> <span class="p">&lt;</span> <span class="mi">1</span> <span class="p">{</span>
        <span class="nx">http</span><span class="p">.</span><span class="nf">NotFound</span><span class="p">(</span><span class="nx">w</span><span class="p">,</span> <span class="nx">r</span><span class="p">)</span>
        <span class="k">return</span>
    <span class="p">}</span>

    <span class="nx">snippet</span><span class="p">,</span> <span class="nx">err</span> <span class="o">:=</span> <span class="nx">app</span><span class="p">.</span><span class="nx">snippets</span><span class="p">.</span><span class="nf">Get</span><span class="p">(</span><span class="nx">id</span><span class="p">)</span>
    <span class="k">if</span> <span class="nx">err</span> <span class="o">!=</span> <span class="kc">nil</span> <span class="p">{</span>
        <span class="k">if</span> <span class="nx">errors</span><span class="p">.</span><span class="nf">Is</span><span class="p">(</span><span class="nx">err</span><span class="p">,</span> <span class="nx">models</span><span class="p">.</span><span class="nx">ErrNoRecord</span><span class="p">)</span> <span class="p">{</span>
            <span class="nx">http</span><span class="p">.</span><span class="nf">NotFound</span><span class="p">(</span><span class="nx">w</span><span class="p">,</span> <span class="nx">r</span><span class="p">)</span>
        <span class="p">}</span> <span class="k">else</span> <span class="p">{</span>
            <span class="nx">app</span><span class="p">.</span><span class="nf">serverError</span><span class="p">(</span><span class="nx">w</span><span class="p">,</span> <span class="nx">r</span><span class="p">,</span> <span class="nx">err</span><span class="p">)</span>
        <span class="p">}</span>
        <span class="k">return</span>
    <span class="p">}</span>

    <span class="nx">data</span> <span class="o">:=</span> <span class="nx">app</span><span class="p">.</span><span class="nf">newTemplateData</span><span class="p">(</span><span class="nx">r</span><span class="p">)</span>
    <span class="nx">data</span><span class="p">.</span><span class="nx">Snippet</span> <span class="p">=</span> <span class="nx">snippet</span>

    <span class="nx">app</span><span class="p">.</span><span class="nf">render</span><span class="p">(</span><span class="nx">w</span><span class="p">,</span> <span class="nx">r</span><span class="p">,</span> <span class="nx">http</span><span class="p">.</span><span class="nx">StatusOK</span><span class="p">,</span> <span class="s">&#34;view.tmpl&#34;</span><span class="p">,</span> <span class="nx">data</span><span class="p">)</span>
<span class="p">}</span>

<span class="o">...</span></pre>
</figure>

<p>آزادانه سعی کنید برنامه را دوباره اجرا کنید و یک اسنیپت دیگر ایجاد کنید. باید ببینید که عملکرد پیام فلش هنوز همانطور که انتظار می‌رود کار می‌کند.</p>

<hr />

<h3 id="additional-information">اطلاعات اضافی</h3>

<h4 id="behind-the-scenes-of-session-management">پشت صحنه مدیریت نشست</h4>

<p>می‌خواهم لحظه‌ای وقت بگذارم تا برخی از 'جادو' پشت مدیریت نشست را باز کنم و توضیح دهم که چگونه در پشت صحنه کار می‌کند.</p>

<p>اگر می‌خواهید، ابزارهای توسعه‌دهنده را در مرورگر وب خود باز کنید و به داده‌های کوکی برای یکی از صفحات نگاه کنید. باید یک کوکی به نام <code>session</code> در داده‌های درخواست ببینید، مشابه این:</p>

<figure class="img">
<img src="assets/img/08.03-04.png" alt="08.03-04.png" />
</figure>

<p>این <em>کوکی نشست</em> است و با هر درخواستی که مرورگر شما می‌کند به برنامه Snippetbox ارسال می‌شود.</p>

<p>کوکی نشست شامل <em>توکن نشست</em> است &mdash; که گاهی <em>شناسه نشست</em> (session ID) نیز نامیده می‌شود. توکن نشست یک رشته تصادفی با آنتروپی بالا است که در مورد من مقدار <code>y9y1-mXyQUoAM6V5s9lXNjbZ_vXSGkO7jy-KL-di7A4</code> است (مال شما متفاوت خواهد بود).</p>

<p>مهم است که تأکید کنیم که توکن نشست فقط یک رشته تصادفی است. به خودی خود، هیچ <em>دادهٔ نشست</em> را حمل یا منتقل نمی‌کند (مانند پیام فلش که در این فصل تنظیم کردیم).</p>

<p>بعد، ممکن است بخواهید یک ترمینال به MySQL باز کنید و یک پرس‌وجوی <code>SELECT</code> روی جدول <code>sessions</code> اجرا کنید تا توکن نشست که در مرورگر خود می‌بینید را جستجو کنید. به این صورت:</p>

<figure class="code bash" dir="ltr">
<pre>mysql&gt; SELECT * FROM sessions WHERE token = &#39;y9y1-mXyQUoAM6V5s9lXNjbZ_vXSGkO7jy-KL-di7A4&#39;;
<samp>+---------------------------------------------+--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+----------------------------+
| token                                       | data                                                                                                                                                                                                                                             | expiry                     |
+---------------------------------------------+--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+----------------------------+
| y9y1-mXyQUoAM6V5s9lXNjbZ_vXSGkO7jy-KL-di7A4 | 0x26FF81030102FF820001020108446561646C696E6501FF8400010656616C75657301FF8600000010FF830501010454696D6501FF8400000027FF85040101176D61705B737472696E675D696E74657266616365207B7D01FF8600010C0110000016FF82010F010000000ED9F4496109B650EBFFFF010000 | 2024-03-18 11:29:23.179505 |
+---------------------------------------------+--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+----------------------------+
1 row in set (0.00 sec)</samp></pre>
</figure>

<p>این باید یک رکورد برگرداند. مقدار <code>data</code> در اینجا چیزی است که <em>در واقع شامل داده‌های نشست کاربر</em> است. به طور خاص، آنچه که به آن نگاه می‌کنیم یک <code>BLOB</code> MySQL (شیء بزرگ باینری) است که شامل یک نمایش <a href="https://pkg.go.dev/encoding/gob">کدگذاری شده gob</a> از داده‌های نشست است.</p>

<p>هر بار که تغییری در داده‌های نشست خود ایجاد می‌کنیم، این مقدار <code>data</code> برای منعکس کردن تغییرات به‌روزرسانی می‌شود.</p>

<p>در نهایت، ستون نهایی در پایگاه داده زمان <code>expiry</code> است، پس از آن نشست دیگر معتبر در نظر گرفته نخواهد شد.</p>

<p>بنابراین، آنچه در برنامه ما اتفاق می‌افتد این است که میدلور <code>LoadAndSave()</code> هر درخواست ورودی را برای یک کوکی نشست بررسی می‌کند. اگر یک کوکی نشست وجود داشته باشد، توکن نشست را از کوکی می‌خواند و داده‌های نشست مربوطه را از پایگاه داده بازیابی می‌کند (در حالی که همچنین بررسی می‌کند که نشست منقضی نشده است). سپس داده‌های نشست را به <em>context درخواست</em> اضافه می‌کند تا بتواند در handlerهای شما استفاده شود.</p>

<p>هر تغییری که در داده‌های نشست در handlerهای خود ایجاد می‌کنید در context درخواست به‌روزرسانی می‌شود، و سپس میدلور <code>LoadAndSave()</code> پایگاه داده را با هر تغییری در داده‌های نشست قبل از بازگشت به‌روزرسانی می‌کند.</p>

		</main>
		<footer>
			<div class="wrapper">
				<div>
					&lsaquo; <a href="08.02-setting-up-the-session-manager.html">قبلی</a>
				</div>
				<div>
					<a href="00.01-contents.html">فهرست</a>
				</div>
				<div>
					<a href="09.00-server-and-security-improvements.html">بعدی</a> &rsaquo;
				</div>
			</div>
		</footer>
		<script>
			document.onkeydown = function(evt) {
				evt = evt || window.event;
				switch (evt.keyCode) {
					
					case 37:
						window.location.href = "08.02-setting-up-the-session-manager.html";
						break;
						
					
					case 39:
						window.location.href = "09.00-server-and-security-improvements.html";
						break;
						
				}
			};
		</script>
	</body>
</html>

