<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="x-ua-compatible" content="ie=edge">
		<link rel="icon" type="image/x-icon" href="assets/img/favicon.ico">
		<title>Let's Go</title>
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<link rel="stylesheet" type="text/css" href="assets/css/main.css">
		<style>
			.code {
				direction: ltr;
				text-align: left;
			}
		</style>
	</head>
	<body>
		<header dir="rtl">
			<div class="wrapper">
				<div>
					<a href="index.html">بریم</a> <span class="crumbs">&rsaquo; <a href="10.00-user-authentication.html">احراز هویت کاربر</a> &rsaquo; ثبت‌نام کاربر و رمزنگاری رمز عبور</span>
				</div>
				<div>
					&lsaquo; <a href="10.02-creating-a-users-model.html">قبلی</a>
					&middot; <a href="00.01-contents.html">فهرست</a> &middot;
					<a href="10.04-user-login.html">بعدی</a> &rsaquo;
				</div>
			</div>
		</header>
		<main class="wrapper text" dir="rtl">
			<div class="chapter">فصل 10.3.</div>
			<h2 id="user-signup-and-password-encryption">ثبت‌نام کاربر و رمزنگاری رمز عبور (User Signup and Password Encryption)</h2>

<p>در این بخش، نحوه پیاده‌سازی <dfn>ثبت‌نام کاربر (User Signup)</dfn> و <dfn>رمزنگاری رمز عبور (Password Encryption)</dfn> را بررسی می‌کنیم. این شامل <dfn>فرم ثبت‌نام (Signup Form)</dfn>، <dfn>اعتبارسنجی داده‌ها (Data Validation)</dfn> و <dfn>ذخیره‌سازی امن (Secure Storage)</dfn> می‌شود.</p>

<p>برای شروع، بیایید یک <dfn>فرم HTML (HTML Form)</dfn> برای <dfn>ثبت‌نام کاربر (User Registration)</dfn> ایجاد کنیم:</p>

<figure class="code bash">
<pre>$ touch ui/html/pages/signup.tmpl</pre>
</figure>

<figure class="code html">
<figcaption>File: ui/html/pages/signup.tmpl</figcaption>
<pre>{{define &#34;title&#34;}}Signup{{end}}

{{define &#34;main&#34;}}
<span class="p">&lt;</span><span class="nt">form</span> <span class="na">action</span><span class="o">=</span><span class="s">&#39;/user/signup&#39;</span> <span class="na">method</span><span class="o">=</span><span class="s">&#39;POST&#39;</span> <span class="na">novalidate</span><span class="p"></span><span class="p">&gt;</span>
    <span class="p">&lt;</span><span class="nt">div</span><span class="p"></span><span class="p">&gt;</span>
        <span class="p">&lt;</span><span class="nt">label</span><span class="p"></span><span class="p">&gt;</span>Name:<span class="p">&lt;</span><span class="p">/</span><span class="nt">label</span><span class="p">&gt;</span>
        {{with .Form.FieldErrors.name}}
            <span class="p">&lt;</span><span class="nt">label</span> <span class="na">class</span><span class="o">=</span><span class="s">&#39;error&#39;</span><span class="p"></span><span class="p">&gt;</span>{{.}}<span class="p">&lt;</span><span class="p">/</span><span class="nt">label</span><span class="p">&gt;</span>
        {{end}}
        <span class="p">&lt;</span><span class="nt">input</span> <span class="na">type</span><span class="o">=</span><span class="s">&#39;text&#39;</span> <span class="na">name</span><span class="o">=</span><span class="s">&#39;name&#39;</span> <span class="na">value</span><span class="o">=</span><span class="s">&#39;{{.Form.Name}}&#39;</span><span class="p"></span><span class="p">&gt;</span>
    <span class="p">&lt;</span><span class="p">/</span><span class="nt">div</span><span class="p">&gt;</span>
    <span class="p">&lt;</span><span class="nt">div</span><span class="p"></span><span class="p">&gt;</span>
        <span class="p">&lt;</span><span class="nt">label</span><span class="p"></span><span class="p">&gt;</span>Email:<span class="p">&lt;</span><span class="p">/</span><span class="nt">label</span><span class="p">&gt;</span>
        {{with .Form.FieldErrors.email}}
            <span class="p">&lt;</span><span class="nt">label</span> <span class="na">class</span><span class="o">=</span><span class="s">&#39;error&#39;</span><span class="p"></span><span class="p">&gt;</span>{{.}}<span class="p">&lt;</span><span class="p">/</span><span class="nt">label</span><span class="p">&gt;</span>
        {{end}}
        <span class="p">&lt;</span><span class="nt">input</span> <span class="na">type</span><span class="o">=</span><span class="s">&#39;email&#39;</span> <span class="na">name</span><span class="o">=</span><span class="s">&#39;email&#39;</span> <span class="na">value</span><span class="o">=</span><span class="s">&#39;{{.Form.Email}}&#39;</span><span class="p"></span><span class="p">&gt;</span>
    <span class="p">&lt;</span><span class="p">/</span><span class="nt">div</span><span class="p">&gt;</span>
    <span class="p">&lt;</span><span class="nt">div</span><span class="p"></span><span class="p">&gt;</span>
        <span class="p">&lt;</span><span class="nt">label</span><span class="p"></span><span class="p">&gt;</span>Password:<span class="p">&lt;</span><span class="p">/</span><span class="nt">label</span><span class="p">&gt;</span>
        {{with .Form.FieldErrors.password}}
            <span class="p">&lt;</span><span class="nt">label</span> <span class="na">class</span><span class="o">=</span><span class="s">&#39;error&#39;</span><span class="p"></span><span class="p">&gt;</span>{{.}}<span class="p">&lt;</span><span class="p">/</span><span class="nt">label</span><span class="p">&gt;</span>
        {{end}}
        <span class="p">&lt;</span><span class="nt">input</span> <span class="na">type</span><span class="o">=</span><span class="s">&#39;password&#39;</span> <span class="na">name</span><span class="o">=</span><span class="s">&#39;password&#39;</span><span class="p"></span><span class="p">&gt;</span>
    <span class="p">&lt;</span><span class="p">/</span><span class="nt">div</span><span class="p">&gt;</span>
    <span class="p">&lt;</span><span class="nt">div</span><span class="p"></span><span class="p">&gt;</span>
        <span class="p">&lt;</span><span class="nt">input</span> <span class="na">type</span><span class="o">=</span><span class="s">&#39;submit&#39;</span> <span class="na">value</span><span class="o">=</span><span class="s">&#39;Signup&#39;</span><span class="p"></span><span class="p">&gt;</span>
    <span class="p">&lt;</span><span class="p">/</span><span class="nt">div</span><span class="p">&gt;</span>
<span class="p">&lt;</span><span class="p">/</span><span class="nt">form</span><span class="p">&gt;</span>
{{end}}</pre>
</figure>

<p>امیدوارم تا اینجا برایتان آشنا باشد. برای فرم ثبت‌نام، ما از همان <a href="07.04-displaying-errors-and-repopulating-fields.html">ساختار فرم</a> که قبلاً در کتاب استفاده کردیم، استفاده می‌کنیم، با سه فیلد: <code>name</code>، <code>email</code> و <code>password</code> (که از نوع‌های ورودی HTML5 مربوطه استفاده می‌کنند).</p>

<aside class="important"><p>
<strong>مهم:</strong> توجه کنید که ما رمز عبور را در صورت عدم اعتبار فرم دوباره نمایش نمی‌دهیم. این به این دلیل است که نمی‌خواهیم <a href="https://ux.stackexchange.com/questions/20418/when-form-submission-fails-password-field-gets-blanked-why-is-that-the-case">هیچ خطری</a> از ذخیره‌سازی رمز عبور به صورت متن ساده توسط مرورگر (یا واسطه‌های دیگر) وجود داشته باشد.
</p></aside>

<p>سپس فایل <code>cmd/web/handlers.go</code> خود را به‌روزرسانی کنید تا یک ساختار جدید <code>userSignupForm</code> (که داده‌های فرم را نمایندگی و نگهداری می‌کند) ایجاد کنید و آن را به هندلر <code>userSignup</code> متصل کنید.</p>

<p>به این صورت:</p>

<figure class="code go">
<figcaption>File: cmd/web/handlers.go</figcaption>
<pre><span class="kn">package</span> <span class="nx">main</span>

<span class="o">...</span>

<span class="c1">// Create a new userSignupForm struct.
</span><span class="c1"></span><span class="kd">type</span> <span class="nx">userSignupForm</span> <span class="kd">struct</span> <span class="p">{</span>
    <span class="nx">Name</span>                <span class="kt">string</span> <span class="s">`</span><span class="s">form:&#34;name&#34;</span><span class="s">`</span>
    <span class="nx">Email</span>               <span class="kt">string</span> <span class="s">`</span><span class="s">form:&#34;email&#34;</span><span class="s">`</span>
    <span class="nx">Password</span>            <span class="kt">string</span> <span class="s">`</span><span class="s">form:&#34;password&#34;</span><span class="s">`</span>
    <span class="nx">validator</span><span class="p">.</span><span class="nx">Validator</span> <span class="s">`</span><span class="s">form:&#34;-&#34;</span><span class="s">`</span>
<span class="p">}</span>

<span class="c1">// Update the handler so it displays the signup page.
</span><span class="c1"></span><span class="kd">func</span> <span class="p">(</span><span class="nx">app</span> <span class="o">*</span><span class="nx">application</span><span class="p">)</span> <span class="nf">userSignup</span><span class="p">(</span><span class="nx">w</span> <span class="nx">http</span><span class="p">.</span><span class="nx">ResponseWriter</span><span class="p">,</span> <span class="nx">r</span> <span class="o">*</span><span class="nx">http</span><span class="p">.</span><span class="nx">Request</span><span class="p">)</span> <span class="p">{</span>
    <span class="nx">data</span> <span class="o">:=</span> <span class="nx">app</span><span class="p">.</span><span class="nf">newTemplateData</span><span class="p">(</span><span class="nx">r</span><span class="p">)</span>
    <span class="nx">data</span><span class="p">.</span><span class="nx">Form</span> <span class="p">=</span> <span class="nx">userSignupForm</span><span class="p">{</span><span class="p">}</span>
    <span class="nx">app</span><span class="p">.</span><span class="nf">render</span><span class="p">(</span><span class="nx">w</span><span class="p">,</span> <span class="nx">r</span><span class="p">,</span> <span class="nx">http</span><span class="p">.</span><span class="nx">StatusOK</span><span class="p">,</span> <span class="s">&#34;signup.tmpl&#34;</span><span class="p">,</span> <span class="nx">data</span><span class="p">)</span>
<span class="p">}</span>

<span class="o">...</span></pre>
</figure>

<p>اگر برنامه را اجرا کنید و به <a href="https://localhost:4000/user/signup"><code>https://localhost:4000/user/signup</code></a> بروید، باید اکنون صفحه‌ای شبیه به این را ببینید:</p>

<figure class="img">
<img src="assets/img/10.03-01.png" alt="10.03-01.png" />
</figure>

<h3 id="validating-the-user-input">اعتبارسنجی ورودی کاربر</h3>

<p>وقتی این فرم ارسال می‌شود، داده‌ها به هندلر <code>userSignupPost</code> که قبلاً ساخته‌ایم ارسال می‌شود.</p>

<p>اولین وظیفه این هندلر اعتبارسنجی داده‌ها است تا مطمئن شویم که منطقی و معقول هستند قبل از اینکه آن‌ها را در پایگاه داده وارد کنیم. به طور خاص، می‌خواهیم چهار کار انجام دهیم:</p>

<ol>
<li>بررسی کنیم که نام، آدرس ایمیل و رمز عبور ارائه شده خالی نباشند.</li>
<li>فرمت آدرس ایمیل را بررسی کنیم.</li>
<li>اطمینان حاصل کنیم که رمز عبور حداقل 8 کاراکتر طول دارد.</li>
<li>مطمئن شویم که آدرس ایمیل قبلاً استفاده نشده است.</li>
</ol>

<p>می‌توانیم سه بررسی اول را با بازگشت به فایل <code>internal/validator/validator.go</code> و ایجاد دو متد کمکی جدید &mdash; <code>MinChars()</code> و <code>Matches()</code> &mdash; به همراه یک عبارت منظم برای بررسی فرمت ایمیل پوشش دهیم.</p>

<p>به این صورت:</p>

<figure class="code go">
<figcaption>File: internal/validator/validator.go</figcaption>
<pre><span class="kn">package</span> <span class="nx">validator</span>

<span class="kn">import</span> <span class="p">(</span>
    <span class="s">&#34;regexp&#34;</span> <span class="c1">// New import
</span><span class="c1"></span>    <span class="s">&#34;slices&#34;</span>
    <span class="s">&#34;strings&#34;</span>
    <span class="s">&#34;unicode/utf8&#34;</span>
<span class="p">)</span>

<span class="c1">// Use the regexp.MustCompile() function to parse a regular expression pattern
</span><span class="c1"></span><span class="c1">// for sanity checking the format of an email address. This returns a pointer to 
</span><span class="c1"></span><span class="c1">// a &#39;compiled&#39; regexp.Regexp type, or panics in the event of an error. Parsing 
</span><span class="c1"></span><span class="c1">// this pattern once at startup and storing the compiled *regexp.Regexp in a 
</span><span class="c1"></span><span class="c1">// variable is more performant than re-parsing the pattern each time we need it.
</span><span class="c1"></span><span class="kd">var</span> <span class="nx">EmailRX</span> <span class="p">=</span> <span class="nx">regexp</span><span class="p">.</span><span class="nf">MustCompile</span><span class="p">(</span><span class="s">&#34;^[a-zA-Z0-9.!#$%&amp;&#39;*+/=?^_`{|}~-]+@[a-zA-Z0-9](?:[a-zA-Z0-9-]{0,61}[a-zA-Z0-9])?(?:\\.[a-zA-Z0-9](?:[a-zA-Z0-9-]{0,61}[a-zA-Z0-9])?)*$&#34;</span><span class="p">)</span>

<span class="o">...</span>

<span class="c1">// MinChars() returns true if a value contains at least n characters.
</span><span class="c1"></span><span class="kd">func</span> <span class="nf">MinChars</span><span class="p">(</span><span class="nx">value</span> <span class="kt">string</span><span class="p">,</span> <span class="nx">n</span> <span class="kt">int</span><span class="p">)</span> <span class="kt">bool</span> <span class="p">{</span>
    <span class="k">return</span> <span class="nx">utf8</span><span class="p">.</span><span class="nf">RuneCountInString</span><span class="p">(</span><span class="nx">value</span><span class="p">)</span> <span class="o">&gt;=</span> <span class="nx">n</span>
<span class="p">}</span>

<span class="c1">// Matches() returns true if a value matches a provided compiled regular 
</span><span class="c1"></span><span class="c1">// expression pattern.
</span><span class="c1"></span><span class="kd">func</span> <span class="nf">Matches</span><span class="p">(</span><span class="nx">value</span> <span class="kt">string</span><span class="p">,</span> <span class="nx">rx</span> <span class="o">*</span><span class="nx">regexp</span><span class="p">.</span><span class="nx">Regexp</span><span class="p">)</span> <span class="kt">bool</span> <span class="p">{</span>
    <span class="k">return</span> <span class="nx">rx</span><span class="p">.</span><span class="nf">MatchString</span><span class="p">(</span><span class="nx">value</span><span class="p">)</span>
<span class="p">}</span></pre>
</figure>

<p>چند نکته درباره الگوی عبارت منظم <code>EmailRX</code> وجود دارد که می‌خواهم به سرعت به آن‌ها اشاره کنم:</p>

<ul>
<li><p>الگویی که استفاده می‌کنیم، الگویی است که در حال حاضر توسط W3C و گروه کاری فناوری برنامه‌های وب هایپرتکست برای اعتبارسنجی آدرس‌های ایمیل توصیه می‌شود. برای اطلاعات بیشتر درباره این الگو، به <a href="https://html.spec.whatwg.org/multipage/input.html#valid-e-mail-address">اینجا</a> مراجعه کنید. اگر این کتاب را به صورت PDF یا در دستگاهی با عرض کم می‌خوانید و نمی‌توانید کل خط را ببینید، در اینجا به چند خط شکسته شده است:</p>

<figure class="code plain">
<pre>&#34;^[a-zA-Z0-9.!#$%&amp;&#39;*+/=?^_`{|}~-]+@[a-zA-Z0-9](?:[a-zA-Z0-9-]{0,61}[a-zA-Z0-9])?
(?:\\.[a-zA-Z0-9](?:[a-zA-Z0-9-]{0,61}[a-zA-Z0-9])?)*$&#34;</pre>
</figure>

<p>در کد شما، این الگوی regexp باید در یک خط واحد بدون فضای خالی باشد. اگر الگوی دیگری را برای بررسی صحت آدرس ایمیل ترجیح می‌دهید، می‌توانید آن را جایگزین کنید.</p></li>

<li><p>از آنجا که الگوی regexp <code>EmailRX</code> به صورت یک رشته تفسیر شده نوشته شده است، باید <em>دو بار فرار</em> <a href="https://www.regular-expressions.info/characters.html">کاراکترهای خاص</a> در regexp با <code>\\</code> برای کارکرد صحیح آن انجام شود (نمی‌توانیم از یک رشته خام استفاده کنیم زیرا الگو حاوی کاراکتر نقل قول است). اگر با تفاوت بین فرم‌های رشته آشنا نیستید، <a href="https://golang.org/ref/spec#String_literals">این بخش</a> از مشخصات Go ارزش خواندن دارد.</p></li>
</ul>

<p>اما به هر حال، من در حال انحراف هستم. بیایید به کار اصلی برگردیم.</p>

<p>به فایل <code>handlers.go</code> خود بروید و کدی برای پردازش فرم و اجرای بررسی‌های اعتبارسنجی اضافه کنید به این صورت:</p>

<figure class="code go">
<figcaption>File: cmd/web/handlers.go</figcaption>
<pre><span class="kn">package</span> <span class="nx">main</span>

<span class="o">...</span>

<span class="kd">func</span> <span class="p">(</span><span class="nx">app</span> <span class="o">*</span><span class="nx">application</span><span class="p">)</span> <span class="nf">userSignupPost</span><span class="p">(</span><span class="nx">w</span> <span class="nx">http</span><span class="p">.</span><span class="nx">ResponseWriter</span><span class="p">,</span> <span class="nx">r</span> <span class="o">*</span><span class="nx">http</span><span class="p">.</span><span class="nx">Request</span><span class="p">)</span> <span class="p">{</span>
    <span class="c1">// Declare an zero-valued instance of our userSignupForm struct.
</span><span class="c1"></span>    <span class="kd">var</span> <span class="nx">form</span> <span class="nx">userSignupForm</span>

    <span class="c1">// Parse the form data into the userSignupForm struct.
</span><span class="c1"></span>    <span class="nx">err</span> <span class="o">:=</span> <span class="nx">app</span><span class="p">.</span><span class="nf">decodePostForm</span><span class="p">(</span><span class="nx">r</span><span class="p">,</span> <span class="o">&amp;</span><span class="nx">form</span><span class="p">)</span>
    <span class="k">if</span> <span class="nx">err</span> <span class="o">!=</span> <span class="kc">nil</span> <span class="p">{</span>
        <span class="nx">app</span><span class="p">.</span><span class="nf">clientError</span><span class="p">(</span><span class="nx">w</span><span class="p">,</span> <span class="nx">http</span><span class="p">.</span><span class="nx">StatusBadRequest</span><span class="p">)</span>
        <span class="k">return</span>
    <span class="p">}</span>

    <span class="c1">// Validate the form contents using our helper functions.
</span><span class="c1"></span>    <span class="nx">form</span><span class="p">.</span><span class="nf">CheckField</span><span class="p">(</span><span class="nx">validator</span><span class="p">.</span><span class="nf">NotBlank</span><span class="p">(</span><span class="nx">form</span><span class="p">.</span><span class="nx">Name</span><span class="p">)</span><span class="p">,</span> <span class="s">&#34;name&#34;</span><span class="p">,</span> <span class="s">&#34;This field cannot be blank&#34;</span><span class="p">)</span>
    <span class="nx">form</span><span class="p">.</span><span class="nf">CheckField</span><span class="p">(</span><span class="nx">validator</span><span class="p">.</span><span class="nf">NotBlank</span><span class="p">(</span><span class="nx">form</span><span class="p">.</span><span class="nx">Email</span><span class="p">)</span><span class="p">,</span> <span class="s">&#34;email&#34;</span><span class="p">,</span> <span class="s">&#34;This field cannot be blank&#34;</span><span class="p">)</span>
    <span class="nx">form</span><span class="p">.</span><span class="nf">CheckField</span><span class="p">(</span><span class="nx">validator</span><span class="p">.</span><span class="nf">Matches</span><span class="p">(</span><span class="nx">form</span><span class="p">.</span><span class="nx">Email</span><span class="p">,</span> <span class="nx">validator</span><span class="p">.</span><span class="nx">EmailRX</span><span class="p">)</span><span class="p">,</span> <span class="s">&#34;email&#34;</span><span class="p">,</span> <span class="s">&#34;This field must be a valid email address&#34;</span><span class="p">)</span>
    <span class="nx">form</span><span class="p">.</span><span class="nf">CheckField</span><span class="p">(</span><span class="nx">validator</span><span class="p">.</span><span class="nf">NotBlank</span><span class="p">(</span><span class="nx">form</span><span class="p">.</span><span class="nx">Password</span><span class="p">)</span><span class="p">,</span> <span class="s">&#34;password&#34;</span><span class="p">,</span> <span class="s">&#34;This field cannot be blank&#34;</span><span class="p">)</span>
    <span class="nx">form</span><span class="p">.</span><span class="nf">CheckField</span><span class="p">(</span><span class="nx">validator</span><span class="p">.</span><span class="nf">MinChars</span><span class="p">(</span><span class="nx">form</span><span class="p">.</span><span class="nx">Password</span><span class="p">,</span> <span class="mi">8</span><span class="p">)</span><span class="p">,</span> <span class="s">&#34;password&#34;</span><span class="p">,</span> <span class="s">&#34;This field must be at least 8 characters long&#34;</span><span class="p">)</span>

    <span class="c1">// If there are any errors, redisplay the signup form along with a 422
</span><span class="c1"></span>    <span class="c1">// status code.
</span><span class="c1"></span>    <span class="k">if</span> <span class="p">!</span><span class="nx">form</span><span class="p">.</span><span class="nf">Valid</span><span class="p">(</span><span class="p">)</span> <span class="p">{</span>
        <span class="nx">data</span> <span class="o">:=</span> <span class="nx">app</span><span class="p">.</span><span class="nf">newTemplateData</span><span class="p">(</span><span class="nx">r</span><span class="p">)</span>
        <span class="nx">data</span><span class="p">.</span><span class="nx">Form</span> <span class="p">=</span> <span class="nx">form</span>
        <span class="nx">app</span><span class="p">.</span><span class="nf">render</span><span class="p">(</span><span class="nx">w</span><span class="p">,</span> <span class="nx">r</span><span class="p">,</span> <span class="nx">http</span><span class="p">.</span><span class="nx">StatusUnprocessableEntity</span><span class="p">,</span> <span class="s">&#34;signup.tmpl&#34;</span><span class="p">,</span> <span class="nx">data</span><span class="p">)</span>
        <span class="k">return</span>
    <span class="p">}</span>

    <span class="c1">// Otherwise send the placeholder response (for now!).
</span><span class="c1"></span>    <span class="nx">fmt</span><span class="p">.</span><span class="nf">Fprintln</span><span class="p">(</span><span class="nx">w</span><span class="p">,</span> <span class="s">&#34;Create a new user...&#34;</span><span class="p">)</span>
<span class="p">}</span>

<span class="o">...</span></pre>
</figure>

<p>برنامه را اجرا کنید و داده‌های نامعتبر را در فرم ثبت‌نام وارد کنید، مانند این:</p>

<figure class="img">
<img src="assets/img/10.03-02.png" alt="10.03-02.png" />
</figure>

<p>و اگر سعی کنید آن را ارسال کنید، باید خطاهای اعتبارسنجی مناسب را به این صورت ببینید:</p>

<figure class="img">
<img src="assets/img/10.03-03.png" alt="10.03-03.png" />
</figure>

<p>تنها چیزی که باقی مانده است، بررسی چهارم اعتبارسنجی است: <em>مطمئن شوید که آدرس ایمیل قبلاً استفاده نشده است</em>. این کمی پیچیده‌تر است.</p>

<p>از آنجا که ما یک محدودیت <code>UNIQUE</code> بر روی فیلد <code>email</code> جدول <code>users</code> داریم، تضمین شده است که دو کاربر با همان آدرس ایمیل در پایگاه داده ما وجود نخواهند داشت. بنابراین از نظر منطق کسب و کار و یکپارچگی داده‌ها، ما در حال حاضر خوب هستیم. اما سوال باقی می‌ماند که چگونه هرگونه مشکل <em>ایمیل قبلاً استفاده شده</em> را به کاربر اطلاع دهیم. ما این را در پایان فصل بررسی خواهیم کرد.</p>

<h3 id="a-brief-introduction-to-bcrypt">مقدمه‌ای کوتاه بر bcrypt</h3>

<p>اگر پایگاه داده شما توسط یک مهاجم به خطر بیفتد، بسیار مهم است که حاوی نسخه‌های متن ساده رمزهای عبور کاربران شما نباشد.</p>

<p>بهتر است &mdash; در واقع، ضروری است &mdash; که یک هش یکطرفه از رمز عبور ذخیره کنید، که با یک تابع مشتق کلید محاسباتی گران مانند Argon2، scrypt یا bcrypt به دست آمده است. Go پیاده‌سازی‌هایی از هر 3 الگوریتم در بسته <a href="https://pkg.go.dev/golang.org/x/crypto"><code>golang.org/x/crypto</code></a> دارد.</p>

<p>اما یک نکته مثبت از پیاده‌سازی bcrypt این است که شامل توابع کمکی خاصی برای هش کردن و بررسی رمزهای عبور است، و این همان چیزی است که ما در اینجا استفاده خواهیم کرد.</p>

<p>اگر در حال دنبال کردن هستید، لطفاً آخرین نسخه از بسته <a href="https://godoc.org/golang.org/x/crypto/bcrypt"><code>golang.org/x/crypto/bcrypt</code></a> را دانلود کنید:</p>

<figure class="code bash">
<pre>$ go get golang.org/x/crypto/bcrypt@latest
<samp>go: downloading golang.org/x/crypto v0.26.0
go get: added golang.org/x/crypto v0.26.0</samp></pre>
</figure>

<p>دو تابع وجود دارد که ما در این کتاب استفاده خواهیم کرد. اولین تابع <a href="https://godoc.org/golang.org/x/crypto/bcrypt#GenerateFromPassword"><code>bcrypt.GenerateFromPassword()</code></a> است که به ما اجازه می‌دهد یک هش از یک رمز عبور متن ساده ایجاد کنیم به این صورت:</p>

<figure class="code go">
<pre><span class="nx">hash</span><span class="p">,</span> <span class="nx">err</span> <span class="o">:=</span> <span class="nx">bcrypt</span><span class="p">.</span><span class="nf">GenerateFromPassword</span><span class="p">(</span><span class="p">[</span><span class="p">]</span><span class="nb">byte</span><span class="p">(</span><span class="nx">password</span><span class="p">)</span><span class="p">,</span> <span class="mi">12</span><span class="p">)</span></pre>
</figure>

<p>این تابع یک هش 60 کاراکتری برمی‌گرداند که شبیه به این است:</p>

<figure class="code plain">
<pre>$2a$12$NuTjWXm3KKntReFwyBVHyuf/to.HEwTy.eS206TNfkGfr6HzGJSWG</pre>
</figure>

<p>پارامتر دوم که به <code>bcrypt.GenerateFromPassword()</code> می‌دهیم نشان‌دهنده <dfn>هزینه</dfn> است، که با یک عدد صحیح بین 4 و 31 نمایش داده می‌شود. مثال بالا از هزینه 12 استفاده می‌کند، که به این معنی است که 4096 (2^12) تکرار bcrypt برای تولید هش رمز عبور استفاده خواهد شد.</p>

<p>هرچه هزینه بالاتر باشد، هش برای یک مهاجم برای شکستن آن گران‌تر خواهد بود (که چیز خوبی است). اما هزینه بالاتر همچنین به این معنی است که برنامه ما باید کار بیشتری برای ایجاد هش رمز عبور انجام دهد وقتی که یک کاربر ثبت‌نام می‌کند &mdash; و این به معنای استفاده بیشتر از منابع توسط برنامه شما و تأخیر اضافی برای کاربر نهایی است. بنابراین انتخاب یک مقدار هزینه مناسب یک عمل تعادل است. هزینه 12 یک حداقل معقول است، اما اگر ممکن است باید تست بار انجام دهید، و اگر می‌توانید هزینه را بدون تأثیر منفی بر تجربه کاربر بالاتر ببرید، باید این کار را انجام دهید.</p>

<p>از طرف دیگر، می‌توانیم بررسی کنیم که یک رمز عبور متن ساده با یک هش خاص مطابقت دارد یا خیر با استفاده از تابع <a href="https://godoc.org/golang.org/x/crypto/bcrypt#CompareHashAndPassword"><code>bcrypt.CompareHashAndPassword()</code></a> به این صورت:</p>

<figure class="code go">
<pre><span class="nx">hash</span> <span class="o">:=</span> <span class="p">[</span><span class="p">]</span><span class="nb">byte</span><span class="p">(</span><span class="s">&#34;$2a$12$NuTjWXm3KKntReFwyBVHyuf/to.HEwTy.eS206TNfkGfr6GzGJSWG&#34;</span><span class="p">)</span>
<span class="nx">err</span> <span class="o">:=</span> <span class="nx">bcrypt</span><span class="p">.</span><span class="nf">CompareHashAndPassword</span><span class="p">(</span><span class="nx">hash</span><span class="p">,</span> <span class="p">[</span><span class="p">]</span><span class="nb">byte</span><span class="p">(</span><span class="nx">password</span><span class="p">)</span><span class="p">)</span></pre>
</figure>

<p>تابع <code>bcrypt.CompareHashAndPassword()</code> <code>nil</code> را برمی‌گرداند اگر رمز عبور متن ساده با یک هش خاص مطابقت داشته باشد، یا یک خطا اگر مطابقت نداشته باشند.</p>

<h3 id="storing-the-user-details">ذخیره جزئیات کاربر</h3>

<p>مرحله بعدی ساخت ما این است که متد <code>UserModel.Insert()</code> را به‌روزرسانی کنیم تا یک رکورد جدید در جدول <code>users</code> ما ایجاد کند که شامل نام، ایمیل و رمز عبور هش شده معتبر باشد.</p>

<p>این به دو دلیل جالب خواهد بود: اول اینکه می‌خواهیم هش bcrypt رمز عبور را ذخیره کنیم (نه خود رمز عبور) و دوم، ما همچنین باید خطای احتمالی ناشی از تکرار ایمیل که محدودیت <code>UNIQUE</code> را نقض می‌کند، مدیریت کنیم.</p>

<p>تمام خطاهایی که توسط MySQL برگردانده می‌شوند یک کد خاص دارد، که می‌توانیم از آن برای تشخیص علت خطا استفاده کنیم (لیست کامل کدهای خطا و توضیحات MySQL را می‌توانید <a href="https://dev.mysql.com/doc/mysql-errors/8.0/en/">اینجا</a> پیدا کنید). در مورد تکرار ایمیل، کد خطا <code>1062 (ER_DUP_ENTRY)</code> خواهد بود.</p>

<p>فایل <code>internal/models/users.go</code> را باز کنید و آن را به‌روزرسانی کنید تا شامل کد زیر باشد:</p>

<figure class="code go">
<figcaption>File: internal/models/users.go</figcaption>
<pre><span class="kn">package</span> <span class="nx">models</span>

<span class="kn">import</span> <span class="p">(</span>
    <span class="s">&#34;database/sql&#34;</span>
    <span class="s">&#34;errors&#34;</span>  <span class="c1">// New import
</span><span class="c1"></span>    <span class="s">&#34;strings&#34;</span> <span class="c1">// New import
</span><span class="c1"></span>    <span class="s">&#34;time&#34;</span>

    <span class="s">&#34;github.com/go-sql-driver/mysql&#34;</span> <span class="c1">// New import
</span><span class="c1"></span>    <span class="s">&#34;golang.org/x/crypto/bcrypt&#34;</span>     <span class="c1">// New import
</span><span class="c1"></span><span class="p">)</span>

<span class="o">...</span>

<span class="kd">type</span> <span class="nx">UserModel</span> <span class="kd">struct</span> <span class="p">{</span>
    <span class="nx">DB</span> <span class="o">*</span><span class="nx">sql</span><span class="p">.</span><span class="nx">DB</span>
<span class="p">}</span>

<span class="kd">func</span> <span class="p">(</span><span class="nx">m</span> <span class="o">*</span><span class="nx">UserModel</span><span class="p">)</span> <span class="nf">Insert</span><span class="p">(</span><span class="nx">name</span><span class="p">,</span> <span class="nx">email</span><span class="p">,</span> <span class="nx">password</span> <span class="kt">string</span><span class="p">)</span> <span class="kt">error</span> <span class="p">{</span>
    <span class="c1">// Create a bcrypt hash of the plain-text password.
</span><span class="c1"></span>    <span class="nx">hashedPassword</span><span class="p">,</span> <span class="nx">err</span> <span class="o">:=</span> <span class="nx">bcrypt</span><span class="p">.</span><span class="nf">GenerateFromPassword</span><span class="p">(</span><span class="p">[</span><span class="p">]</span><span class="nb">byte</span><span class="p">(</span><span class="nx">password</span><span class="p">)</span><span class="p">,</span> <span class="mi">12</span><span class="p">)</span>
    <span class="k">if</span> <span class="nx">err</span> <span class="o">!=</span> <span class="kc">nil</span> <span class="p">{</span>
        <span class="k">return</span> <span class="nx">err</span>
    <span class="p">}</span>

    <span class="nx">stmt</span> <span class="o">:=</span> <span class="s">`</span><span class="s">INSERT INTO users (name, email, hashed_password, created)
</span><span class="s">    VALUES(?, ?, ?, UTC_TIMESTAMP())</span><span class="s">`</span>

    <span class="c1">// Use the Exec() method to insert the user details and hashed password
</span><span class="c1"></span>    <span class="c1">// into the users table.
</span><span class="c1"></span>    <span class="nx">_</span><span class="p">,</span> <span class="nx">err</span> <span class="p">=</span> <span class="nx">m</span><span class="p">.</span><span class="nx">DB</span><span class="p">.</span><span class="nf">Exec</span><span class="p">(</span><span class="nx">stmt</span><span class="p">,</span> <span class="nx">name</span><span class="p">,</span> <span class="nx">email</span><span class="p">,</span> <span class="nb">string</span><span class="p">(</span><span class="nx">hashedPassword</span><span class="p">)</span><span class="p">)</span>
    <span class="k">if</span> <span class="nx">err</span> <span class="o">!=</span> <span class="kc">nil</span> <span class="p">{</span>
        <span class="c1">// If this returns an error, we use the errors.As() function to check
</span><span class="c1"></span>        <span class="c1">// whether the error has the type *mysql.MySQLError. If it does, the
</span><span class="c1"></span>        <span class="c1">// error will be assigned to the mySQLError variable. We can then check
</span><span class="c1"></span>        <span class="c1">// whether or not the error relates to our users_uc_email key by
</span><span class="c1"></span>        <span class="c1">// checking if the error code equals 1062 and the contents of the error 
</span><span class="c1"></span>        <span class="c1">// message string. If it does, we return an ErrDuplicateEmail error.
</span><span class="c1"></span>        <span class="kd">var</span> <span class="nx">mySQLError</span> <span class="o">*</span><span class="nx">mysql</span><span class="p">.</span><span class="nx">MySQLError</span>
        <span class="k">if</span> <span class="nx">errors</span><span class="p">.</span><span class="nf">As</span><span class="p">(</span><span class="nx">err</span><span class="p">,</span> <span class="o">&amp;</span><span class="nx">mySQLError</span><span class="p">)</span> <span class="p">{</span>
            <span class="k">if</span> <span class="nx">mySQLError</span><span class="p">.</span><span class="nx">Number</span> <span class="o">==</span> <span class="mi">1062</span> <span class="o">&amp;&amp;</span> <span class="nx">strings</span><span class="p">.</span><span class="nf">Contains</span><span class="p">(</span><span class="nx">mySQLError</span><span class="p">.</span><span class="nx">Message</span><span class="p">,</span> <span class="s">&#34;users_uc_email&#34;</span><span class="p">)</span> <span class="p">{</span>
                <span class="k">return</span> <span class="nx">ErrDuplicateEmail</span>
            <span class="p">}</span>
        <span class="p">}</span>
        <span class="k">return</span> <span class="nx">err</span>
    <span class="p">}</span>

    <span class="k">return</span> <span class="kc">nil</span>
<span class="p">}</span>

<span class="o">...</span></pre>
</figure>

<p>سپس می‌توانیم این همه را با به‌روزرسانی هندلر <code>userSignup</code> به این صورت به پایان برسانیم:</p>

<figure class="code go">
<figcaption>File: cmd/web/handlers.go</figcaption>
<pre><span class="kn">package</span> <span class="nx">main</span>

<span class="o">...</span>

<span class="kd">func</span> <span class="p">(</span><span class="nx">app</span> <span class="o">*</span><span class="nx">application</span><span class="p">)</span> <span class="nf">userSignupPost</span><span class="p">(</span><span class="nx">w</span> <span class="nx">http</span><span class="p">.</span><span class="nx">ResponseWriter</span><span class="p">,</span> <span class="nx">r</span> <span class="o">*</span><span class="nx">http</span><span class="p">.</span><span class="nx">Request</span><span class="p">)</span> <span class="p">{</span>
    <span class="kd">var</span> <span class="nx">form</span> <span class="nx">userSignupForm</span>

    <span class="nx">err</span> <span class="o">:=</span> <span class="nx">app</span><span class="p">.</span><span class="nf">decodePostForm</span><span class="p">(</span><span class="nx">r</span><span class="p">,</span> <span class="o">&amp;</span><span class="nx">form</span><span class="p">)</span>
    <span class="k">if</span> <span class="nx">err</span> <span class="o">!=</span> <span class="kc">nil</span> <span class="p">{</span>
        <span class="nx">app</span><span class="p">.</span><span class="nf">clientError</span><span class="p">(</span><span class="nx">w</span><span class="p">,</span> <span class="nx">http</span><span class="p">.</span><span class="nx">StatusBadRequest</span><span class="p">)</span>
        <span class="k">return</span>
    <span class="p">}</span>

    <span class="nx">form</span><span class="p">.</span><span class="nf">CheckField</span><span class="p">(</span><span class="nx">validator</span><span class="p">.</span><span class="nf">NotBlank</span><span class="p">(</span><span class="nx">form</span><span class="p">.</span><span class="nx">Name</span><span class="p">)</span><span class="p">,</span> <span class="s">&#34;name&#34;</span><span class="p">,</span> <span class="s">&#34;This field cannot be blank&#34;</span><span class="p">)</span>
    <span class="nx">form</span><span class="p">.</span><span class="nf">CheckField</span><span class="p">(</span><span class="nx">validator</span><span class="p">.</span><span class="nf">NotBlank</span><span class="p">(</span><span class="nx">form</span><span class="p">.</span><span class="nx">Email</span><span class="p">)</span><span class="p">,</span> <span class="s">&#34;email&#34;</span><span class="p">,</span> <span class="s">&#34;This field cannot be blank&#34;</span><span class="p">)</span>
    <span class="nx">form</span><span class="p">.</span><span class="nf">CheckField</span><span class="p">(</span><span class="nx">validator</span><span class="p">.</span><span class="nf">Matches</span><span class="p">(</span><span class="nx">form</span><span class="p">.</span><span class="nx">Email</span><span class="p">,</span> <span class="nx">validator</span><span class="p">.</span><span class="nx">EmailRX</span><span class="p">)</span><span class="p">,</span> <span class="s">&#34;email&#34;</span><span class="p">,</span> <span class="s">&#34;This field must be a valid email address&#34;</span><span class="p">)</span>
    <span class="nx">form</span><span class="p">.</span><span class="nf">CheckField</span><span class="p">(</span><span class="nx">validator</span><span class="p">.</span><span class="nf">NotBlank</span><span class="p">(</span><span class="nx">form</span><span class="p">.</span><span class="nx">Password</span><span class="p">)</span><span class="p">,</span> <span class="s">&#34;password&#34;</span><span class="p">,</span> <span class="s">&#34;This field cannot be blank&#34;</span><span class="p">)</span>
    <span class="nx">form</span><span class="p">.</span><span class="nf">CheckField</span><span class="p">(</span><span class="nx">validator</span><span class="p">.</span><span class="nf">MinChars</span><span class="p">(</span><span class="nx">form</span><span class="p">.</span><span class="nx">Password</span><span class="p">,</span> <span class="mi">8</span><span class="p">)</span><span class="p">,</span> <span class="s">&#34;password&#34;</span><span class="p">,</span> <span class="s">&#34;This field must be at least 8 characters long&#34;</span><span class="p">)</span>

    <span class="k">if</span> <span class="p">!</span><span class="nx">form</span><span class="p">.</span><span class="nf">Valid</span><span class="p">(</span><span class="p">)</span> <span class="p">{</span>
        <span class="nx">data</span> <span class="o">:=</span> <span class="nx">app</span><span class="p">.</span><span class="nf">newTemplateData</span><span class="p">(</span><span class="nx">r</span><span class="p">)</span>
        <span class="nx">data</span><span class="p">.</span><span class="nx">Form</span> <span class="p">=</span> <span class="nx">form</span>
        <span class="nx">app</span><span class="p">.</span><span class="nf">render</span><span class="p">(</span><span class="nx">w</span><span class="p">,</span> <span class="nx">r</span><span class="p">,</span> <span class="nx">http</span><span class="p">.</span><span class="nx">StatusUnprocessableEntity</span><span class="p">,</span> <span class="s">&#34;signup.tmpl&#34;</span><span class="p">,</span> <span class="nx">data</span><span class="p">)</span>
        <span class="k">return</span>
    <span class="p">}</span>

    <span class="c1">// Otherwise send the placeholder response (for now!).
</span><span class="c1"></span>    <span class="nx">fmt</span><span class="p">.</span><span class="nf">Fprintln</span><span class="p">(</span><span class="nx">w</span><span class="p">,</span> <span class="s">&#34;Create a new user...&#34;</span><span class="p">)</span>
<span class="p">}</span>

<span class="o">...</span></pre>
</figure>

<p>فایل‌ها را ذخیره کنید، برنامه را مجدداً راه‌اندازی کنید و سعی کنید برای یک حساب کاربری ثبت‌نام کنید. حتماً آدرس ایمیل و رمز عبوری که استفاده می‌کنید را به خاطر بسپارید&hellip; در فصل بعدی به آن‌ها نیاز خواهید داشت!</p>

<figure class="img">
<img src="assets/img/10.03-04.png" alt="10.03-04.png" />
</figure>

<p>اگر همه چیز به درستی کار کند، باید ببینید که مرورگر شما پس از ارسال فرم به <code>https://localhost:4000/user/login</code> هدایت می‌شود.</p>

<figure class="img">
<img src="assets/img/10.03-05.png" alt="10.03-05.png" />
</figure>

<p>در این مرحله ارزش دارد که پایگاه داده MySQL خود را باز کنید و به محتوای جدول <code>users</code> نگاه کنید. باید یک رکورد جدید با جزئیاتی که برای ثبت‌نام استفاده کرده‌اید و یک هش bcrypt از رمز عبور ببینید.</p>

<figure class="code bash">
<pre>mysql&gt; SELECT * FROM users;
<samp>+----+-----------+-----------------+--------------------------------------------------------------+---------------------+
| id | name      | email           | hashed_password                                              | created             |
+----+-----------+-----------------+--------------------------------------------------------------+---------------------+
|  1 | Bob Jones | bob@example.com | $2a$12$mNXQrOwVWp/TqAzCCyDoyegtpV40EXwrzVLnbFpHPpWdvnmIoZ.Q. | 2024-03-18 11:29:23 |
+----+-----------+-----------------+--------------------------------------------------------------+---------------------+
1 row in set (0.01 sec)</samp></pre>
</figure>

<p>اگر دوست دارید، به فرم ثبت‌نام برگردید و یک حساب کاربری دیگر با همان آدرس ایمیل اضافه کنید. باید یک خطای اعتبارسنجی به این صورت دریافت کنید:</p>

<figure class="img">
<img src="assets/img/10.03-06.png" alt="10.03-06.png" />
</figure>

<hr />

<h3 id="additional-information">اطلاعات اضافی</h3>

<h4 id="using-database-bcrypt-implementations">استفاده از پیاده‌سازی‌های bcrypt پایگاه داده</h4>

<p>برخی از پایگاه‌های داده توابع داخلی ارائه می‌دهند که می‌توانید برای هش کردن و تأیید رمز عبور به جای پیاده‌سازی خودتان در Go، مانند آنچه در کد بالا انجام داده‌ایم، استفاده کنید.</p>

<p>اما احتمالاً بهتر است از استفاده از این‌ها به دلیل دو دلیل اجتناب کنید:</p>

<ul>
<li>آن‌ها تمایل دارند به <a href="https://en.wikipedia.org/wiki/Timing_attack">حملات زمان‌بندی کانال جانبی</a> آسیب‌پذیر باشند به دلیل اینکه زمان مقایسه رشته ثابت نیست، حداقل در <a href="https://www.postgresql.org/docs/9.0/pgcrypto.html#AEN129954">PostgreSQL</a> و <a href="https://security.stackexchange.com/a/83675/210340">MySQL</a>.</li>
<li>مگر اینکه بسیار مراقب باشید، ارسال یک رمز عبور متن ساده به پایگاه داده شما خطر ضبط تصادفی رمز عبور در یکی از لاگ‌های پایگاه داده شما را دارد. چند مثال برجسته از ضبط تصادفی رمزهای عبور در لاگ‌ها، حوادث <a href="https://www.bleepingcomputer.com/news/security/github-accidentally-recorded-some-plaintext-passwords-in-its-internal-logs/">GitHub</a> و <a href="https://www.bleepingcomputer.com/news/security/twitter-admits-recording-plaintext-passwords-in-internal-logs-just-like-github/">Twitter</a> در سال 2018 بودند.</li>
</ul>

<h4 id="alternatives-for-checking-email-duplicates">جایگزین‌هایی برای بررسی تکرار ایمیل</h4>

<p>می‌دانم که کد در متد <code>UserModel.Insert()</code> ما خیلی زیبا نیست و بررسی خطای برگردانده شده توسط MySQL کمی ناپایدار به نظر می‌رسد. اگر نسخه‌های آینده MySQL شماره‌های خطای خود را تغییر دهند چه؟ یا فرمت پیام‌های خطای خود را تغییر دهند؟</p>

<p>یک گزینه جایگزین (اما همچنین ناقص) این است که یک متد <code>UserModel.EmailTaken()</code> به مدل خود اضافه کنیم که بررسی کند آیا کاربری با یک ایمیل خاص قبلاً وجود دارد یا خیر. می‌توانیم این را <em>قبل از</em> اینکه سعی کنیم یک رکورد جدید وارد کنیم، فراخوانی کنیم و یک پیام خطای اعتبارسنجی به فرم اضافه کنیم.</p>

<p>با این حال، این یک <dfn>شرایط مسابقه</dfn> به برنامه ما معرفی می‌کند. اگر دو کاربر سعی کنند با همان آدرس ایمیل در <em>دقیقاً</em> همان زمان ثبت‌نام کنند، هر دو ارسال اعتبارسنجی را می‌گذرانند اما در نهایت تنها یک <code>INSERT</code> به پایگاه داده MySQL موفق خواهد بود. دیگری محدودیت <code>UNIQUE</code> ما را نقض می‌کند و کاربر در نهایت یک پاسخ <code>500 Internal Server Error</code> دریافت می‌کند.</p>

<h3 id="technical-glossary">واژه‌نامه اصطلاحات فنی</h3>

<table class="glossary">
    <tr>
        <th>اصطلاح فارسی</th>
        <th>معادل انگلیسی</th>
        <th>توضیح</th>
    </tr>
    <tr>
        <td>ثبت‌نام کاربر</td>
        <td>User Signup</td>
        <td>فرآیند ایجاد حساب کاربری</td>
    </tr>
    <tr>
        <td>رمزنگاری رمز عبور</td>
        <td>Password Encryption</td>
        <td>کدگذاری رمز عبور</td>
    </tr>
    <tr>
        <td>فرم ثبت‌نام</td>
        <td>Signup Form</td>
        <td>فرم ورود اطلاعات کاربر</td>
    </tr>
    <tr>
        <td>اعتبارسنجی داده‌ها</td>
        <td>Data Validation</td>
        <td>بررسی صحت داده‌ها</td>
    </tr>
    <tr>
        <td>ذخیره‌سازی امن</td>
        <td>Secure Storage</td>
        <td>نگهداری ایمن اطلاعات</td>
    </tr>
    <tr>
        <td>فرم HTML</td>
        <td>HTML Form</td>
        <td>فرم ورود اطلاعات</td>
    </tr>
    <tr>
        <td>ثبت‌نام کاربر</td>
        <td>User Registration</td>
        <td>ایجاد حساب کاربری جدید</td>
    </tr>
    <tr>
        <td>هش کردن</td>
        <td>Hashing</td>
        <td>تبدیل رمز به کد امن</td>
    </tr>
    <tr>
        <td>نمک رمزنگاری</td>
        <td>Encryption Salt</td>
        <td>داده تصادفی برای امنیت بیشتر</td>
    </tr>
    <tr>
        <td>خطای اعتبارسنجی</td>
        <td>Validation Error</td>
        <td>پیام خطای ورودی نامعتبر</td>
    </tr>
</table>
		</main>
		<footer dir="rtl">
			<div class="wrapper">
				<div>
					&lsaquo; <a href="10.02-creating-a-users-model.html">قبلی</a>
				</div>
				<div>
					<a href="00.01-contents.html">فهرست</a>
				</div>
				<div>
					<a href="10.04-user-login.html">بعدی</a> &rsaquo;
				</div>
			</div>
		</footer>
		<script>
			document.onkeydown = function(evt) {
				evt = evt || window.event;
				switch (evt.keyCode) {
					
					case 37:
						window.location.href = "10.02-creating-a-users-model.html";
						break;
						
					
					case 39:
						window.location.href = "10.04-user-login.html";
						break;
						
				}
			};
		</script>
	</body>
</html>

