<!DOCTYPE html>
<html lang="fa" dir="rtl">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="x-ua-compatible" content="ie=edge">

		
		<title>افزودن صفحه «درباره» به برنامه &mdash; Let's Go</title>
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<link rel="stylesheet" type="text/css" href="assets/css/main.css">
	<link rel="icon" type="image/x-icon" href="assets/img/favicon.ico">
	</head>
	<body>
		<header>
			<div class="wrapper">
				<div>
					
						
						<a href="00.00-front-matter.html">Let's Go</a> <span class="crumbs">&rsaquo; <a href="16.00-guided-exercises.html">تمرین‌های راهنما</a> &rsaquo; افزودن صفحه «درباره» به برنامه</span>
						
					
				</div>
				<div>
					&lsaquo; <a href="16.00-guided-exercises.html">قبلی</a>
					&middot; <a href="00.01-contents.html">فهرست</a> &middot;
					<a href="16.02-add-a-debug-mode.html">بعدی</a> &rsaquo;
				</div>
			</div>
		</header>
		<main class="wrapper text">
			<div class="chapter">فصل ۱۶.۱.</div>
			<h2 id="add-an-about-page-to-the-application">افزودن صفحه &lsquo;درباره&rsquo; به برنامه</h2>

<p>هدف شما برای این تمرین افزودن یک صفحه جدید &lsquo;درباره&rsquo; به برنامه است. باید به route <code>GET /about</code> نگاشت شود، برای کاربران authenticated و unauthenticated در دسترس باشد، و مشابه این به نظر برسد:</p>

<figure class="img">
<img src="assets/img/16.01-01.png" alt="16.01-01.png" />
</figure>

<h4 id="step-1">مرحله 1</h4>

<p>یک route <code>GET /about</code> ایجاد کنید که به یک handler جدید <code>about</code> نگاشت شود. فکر کنید که کدام middleware stack برای route مناسب است.</p>

<p><a href="#17.01-suggested-code-for-step-1">نمایش کد پیشنهادی</a></p>

<h4 id="step-2">مرحله 2</h4>

<p>یک فایل جدید <code>ui/html/pages/about.tmpl</code> ایجاد کنید، با دنبال کردن همان الگوی template که برای صفحات دیگر برنامه استفاده کرده‌ایم. یک title، heading و برخی placeholder copy برای صفحه &lsquo;درباره&rsquo; شامل کنید.</p>

<p><a href="#17.01-suggested-code-for-step-2">نمایش کد پیشنهادی</a></p>

<h4 id="step-3">مرحله 3</h4>

<p>نوار navigation اصلی برنامه را به‌روزرسانی کنید تا یک لینک به صفحه جدید &lsquo;درباره&rsquo; شامل شود (لینک باید برای همه کاربران قابل مشاهده باشد، صرف نظر از اینکه logged in هستند یا نه).</p>

<p><a href="#17.01-suggested-code-for-step-3">نمایش کد پیشنهادی</a></p>

<h4 id="step-4">مرحله 4</h4>

<p>handler <code>about</code> را به‌روزرسانی کنید تا فایل <code>about.tmpl</code> که تازه ایجاد کرده‌اید را render کند. سپس بررسی کنید که صفحه جدید و navigation کار می‌کند با بازدید از <a href="https://localhost:4000/about"><code>https://localhost:4000/about</code></a> در مرورگر خود.</p>

<p><a href="#17.01-suggested-code-for-step-4">نمایش کد پیشنهادی</a></p>

<h3 id="suggested-code">کد پیشنهادی</h3>

<h4 id="17.01-suggested-code-for-step-1">کد پیشنهادی برای مرحله 1</h4>

<figure class="code go" dir="ltr">
<figcaption>File: cmd/web/handlers.go</figcaption>
<pre><span class="kn">package</span> <span class="nx">main</span>

<span class="o">...</span>

<span class="kd">func</span> <span class="p">(</span><span class="nx">app</span> <span class="o">*</span><span class="nx">application</span><span class="p">)</span> <span class="nf">about</span><span class="p">(</span><span class="nx">w</span> <span class="nx">http</span><span class="p">.</span><span class="nx">ResponseWriter</span><span class="p">,</span> <span class="nx">r</span> <span class="o">*</span><span class="nx">http</span><span class="p">.</span><span class="nx">Request</span><span class="p">)</span> <span class="p">{</span>
    <span class="c1">// Some code will go here later...
</span><span class="c1"></span><span class="p">}</span></pre>
</figure>

<figure class="code go" dir="ltr">
<figcaption>File: cmd/web/routes.go</figcaption>
<pre><span class="kn">package</span> <span class="nx">main</span>

<span class="o">...</span>

<span class="kd">func</span> <span class="p">(</span><span class="nx">app</span> <span class="o">*</span><span class="nx">application</span><span class="p">)</span> <span class="nf">routes</span><span class="p">(</span><span class="p">)</span> <span class="nx">http</span><span class="p">.</span><span class="nx">Handler</span> <span class="p">{</span>
    <span class="nx">mux</span> <span class="o">:=</span> <span class="nx">http</span><span class="p">.</span><span class="nf">NewServeMux</span><span class="p">(</span><span class="p">)</span>

    <span class="nx">mux</span><span class="p">.</span><span class="nf">Handle</span><span class="p">(</span><span class="s">&#34;GET /static/&#34;</span><span class="p">,</span> <span class="nx">http</span><span class="p">.</span><span class="nf">FileServerFS</span><span class="p">(</span><span class="nx">ui</span><span class="p">.</span><span class="nx">Files</span><span class="p">)</span><span class="p">)</span>

    <span class="nx">mux</span><span class="p">.</span><span class="nf">HandleFunc</span><span class="p">(</span><span class="s">&#34;GET /ping&#34;</span><span class="p">,</span> <span class="nx">ping</span><span class="p">)</span>

    <span class="nx">dynamic</span> <span class="o">:=</span> <span class="nx">alice</span><span class="p">.</span><span class="nf">New</span><span class="p">(</span><span class="nx">app</span><span class="p">.</span><span class="nx">sessionManager</span><span class="p">.</span><span class="nx">LoadAndSave</span><span class="p">,</span> <span class="nx">noSurf</span><span class="p">,</span> <span class="nx">app</span><span class="p">.</span><span class="nx">authenticate</span><span class="p">)</span>

    <span class="nx">mux</span><span class="p">.</span><span class="nf">Handle</span><span class="p">(</span><span class="s">&#34;GET /{$}&#34;</span><span class="p">,</span> <span class="nx">dynamic</span><span class="p">.</span><span class="nf">ThenFunc</span><span class="p">(</span><span class="nx">app</span><span class="p">.</span><span class="nx">home</span><span class="p">)</span><span class="p">)</span>
    <span class="c1">// Add the about route.
</span><span class="c1"></span>    <span class="nx">mux</span><span class="p">.</span><span class="nf">Handle</span><span class="p">(</span><span class="s">&#34;GET /about&#34;</span><span class="p">,</span> <span class="nx">dynamic</span><span class="p">.</span><span class="nf">ThenFunc</span><span class="p">(</span><span class="nx">app</span><span class="p">.</span><span class="nx">about</span><span class="p">)</span><span class="p">)</span>
    <span class="nx">mux</span><span class="p">.</span><span class="nf">Handle</span><span class="p">(</span><span class="s">&#34;GET /snippet/view/{id}&#34;</span><span class="p">,</span> <span class="nx">dynamic</span><span class="p">.</span><span class="nf">ThenFunc</span><span class="p">(</span><span class="nx">app</span><span class="p">.</span><span class="nx">snippetView</span><span class="p">)</span><span class="p">)</span>
    <span class="nx">mux</span><span class="p">.</span><span class="nf">Handle</span><span class="p">(</span><span class="s">&#34;GET /user/signup&#34;</span><span class="p">,</span> <span class="nx">dynamic</span><span class="p">.</span><span class="nf">ThenFunc</span><span class="p">(</span><span class="nx">app</span><span class="p">.</span><span class="nx">userSignup</span><span class="p">)</span><span class="p">)</span>
    <span class="nx">mux</span><span class="p">.</span><span class="nf">Handle</span><span class="p">(</span><span class="s">&#34;POST /user/signup&#34;</span><span class="p">,</span> <span class="nx">dynamic</span><span class="p">.</span><span class="nf">ThenFunc</span><span class="p">(</span><span class="nx">app</span><span class="p">.</span><span class="nx">userSignupPost</span><span class="p">)</span><span class="p">)</span>
    <span class="nx">mux</span><span class="p">.</span><span class="nf">Handle</span><span class="p">(</span><span class="s">&#34;GET /user/login&#34;</span><span class="p">,</span> <span class="nx">dynamic</span><span class="p">.</span><span class="nf">ThenFunc</span><span class="p">(</span><span class="nx">app</span><span class="p">.</span><span class="nx">userLogin</span><span class="p">)</span><span class="p">)</span>
    <span class="nx">mux</span><span class="p">.</span><span class="nf">Handle</span><span class="p">(</span><span class="s">&#34;POST /user/login&#34;</span><span class="p">,</span> <span class="nx">dynamic</span><span class="p">.</span><span class="nf">ThenFunc</span><span class="p">(</span><span class="nx">app</span><span class="p">.</span><span class="nx">userLoginPost</span><span class="p">)</span><span class="p">)</span>

    <span class="nx">protected</span> <span class="o">:=</span> <span class="nx">dynamic</span><span class="p">.</span><span class="nf">Append</span><span class="p">(</span><span class="nx">app</span><span class="p">.</span><span class="nx">requireAuthentication</span><span class="p">)</span>

    <span class="nx">mux</span><span class="p">.</span><span class="nf">Handle</span><span class="p">(</span><span class="s">&#34;GET /snippet/create&#34;</span><span class="p">,</span> <span class="nx">protected</span><span class="p">.</span><span class="nf">ThenFunc</span><span class="p">(</span><span class="nx">app</span><span class="p">.</span><span class="nx">snippetCreate</span><span class="p">)</span><span class="p">)</span>
    <span class="nx">mux</span><span class="p">.</span><span class="nf">Handle</span><span class="p">(</span><span class="s">&#34;POST /snippet/create&#34;</span><span class="p">,</span> <span class="nx">protected</span><span class="p">.</span><span class="nf">ThenFunc</span><span class="p">(</span><span class="nx">app</span><span class="p">.</span><span class="nx">snippetCreatePost</span><span class="p">)</span><span class="p">)</span>
    <span class="nx">mux</span><span class="p">.</span><span class="nf">Handle</span><span class="p">(</span><span class="s">&#34;POST /user/logout&#34;</span><span class="p">,</span> <span class="nx">protected</span><span class="p">.</span><span class="nf">ThenFunc</span><span class="p">(</span><span class="nx">app</span><span class="p">.</span><span class="nx">userLogoutPost</span><span class="p">)</span><span class="p">)</span>

    <span class="nx">standard</span> <span class="o">:=</span> <span class="nx">alice</span><span class="p">.</span><span class="nf">New</span><span class="p">(</span><span class="nx">app</span><span class="p">.</span><span class="nx">recoverPanic</span><span class="p">,</span> <span class="nx">app</span><span class="p">.</span><span class="nx">logRequest</span><span class="p">,</span> <span class="nx">commonHeaders</span><span class="p">)</span>
    <span class="k">return</span> <span class="nx">standard</span><span class="p">.</span><span class="nf">Then</span><span class="p">(</span><span class="nx">mux</span><span class="p">)</span>
<span class="p">}</span></pre>
</figure>

<h4 id="17.01-suggested-code-for-step-2">کد پیشنهادی برای مرحله 2</h4>

<figure class="code html" dir="ltr">
<figcaption>File: ui/html/pages/about.tmpl</figcaption>
<pre>
{{define &#34;title&#34;}}About{{end}}

{{define &#34;main&#34;}}
    <span class="p">&lt;</span><span class="nt">h2</span><span class="p"></span><span class="p">&gt;</span>About<span class="p">&lt;</span><span class="p">/</span><span class="nt">h2</span><span class="p">&gt;</span>
    <span class="p">&lt;</span><span class="nt">p</span><span class="p"></span><span class="p">&gt;</span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi at mauris dignissim,
    consectetur tellus in, fringilla ante. Pellentesque habitant morbi tristique senectus
    et netus et malesuada fames ac turpis egestas. Sed dignissim hendrerit scelerisque.<span class="p">&lt;</span><span class="p">/</span><span class="nt">p</span><span class="p">&gt;</span>
    <span class="p">&lt;</span><span class="nt">p</span><span class="p"></span><span class="p">&gt;</span>Praesent a dignissim arcu. Cras a metus sagittis, pellentesque odio sit amet,
    lacinia velit. In hac habitasse platea dictumst. <span class="p">&lt;</span><span class="p">/</span><span class="nt">p</span><span class="p">&gt;</span>
{{end}}</pre>
</figure>

<h4 id="17.01-suggested-code-for-step-3">کد پیشنهادی برای مرحله 3</h4>

<figure class="code html" dir="ltr">
<figcaption>File: ui/html/partials/nav.tmpl</figcaption>
<pre>{{define &#34;nav&#34;}}
<span class="p">&lt;</span><span class="nt">nav</span><span class="p"></span><span class="p">&gt;</span>
    <span class="p">&lt;</span><span class="nt">div</span><span class="p"></span><span class="p">&gt;</span>
        <span class="p">&lt;</span><span class="nt">a</span> <span class="na">href</span><span class="o">=</span><span class="s">&#39;/&#39;</span><span class="p"></span><span class="p">&gt;</span>Home<span class="p">&lt;</span><span class="p">/</span><span class="nt">a</span><span class="p">&gt;</span>
        <span class="c">&lt;!--</span><span class="c"> Include a new link, visible to all users </span><span class="c">--&gt;</span>
        <span class="p">&lt;</span><span class="nt">a</span> <span class="na">href</span><span class="o">=</span><span class="s">&#39;/about&#39;</span><span class="p"></span><span class="p">&gt;</span>About<span class="p">&lt;</span><span class="p">/</span><span class="nt">a</span><span class="p">&gt;</span>
         {{if .IsAuthenticated}}
            <span class="p">&lt;</span><span class="nt">a</span> <span class="na">href</span><span class="o">=</span><span class="s">&#39;/snippet/create&#39;</span><span class="p"></span><span class="p">&gt;</span>Create snippet<span class="p">&lt;</span><span class="p">/</span><span class="nt">a</span><span class="p">&gt;</span>
        {{end}}
    <span class="p">&lt;</span><span class="p">/</span><span class="nt">div</span><span class="p">&gt;</span>
    <span class="p">&lt;</span><span class="nt">div</span><span class="p"></span><span class="p">&gt;</span>
        {{if .IsAuthenticated}}
            <span class="p">&lt;</span><span class="nt">form</span> <span class="na">action</span><span class="o">=</span><span class="s">&#39;/user/logout&#39;</span> <span class="na">method</span><span class="o">=</span><span class="s">&#39;POST&#39;</span><span class="p"></span><span class="p">&gt;</span>
                <span class="p">&lt;</span><span class="nt">input</span> <span class="na">type</span><span class="o">=</span><span class="s">&#39;hidden&#39;</span> <span class="na">name</span><span class="o">=</span><span class="s">&#39;csrf_token&#39;</span> <span class="na">value</span><span class="o">=</span><span class="s">&#39;{{.CSRFToken}}&#39;</span><span class="p"></span><span class="p">&gt;</span>
                <span class="p">&lt;</span><span class="nt">button</span><span class="p"></span><span class="p">&gt;</span>Logout<span class="p">&lt;</span><span class="p">/</span><span class="nt">button</span><span class="p">&gt;</span>
            <span class="p">&lt;</span><span class="p">/</span><span class="nt">form</span><span class="p">&gt;</span>
        {{else}}
            <span class="p">&lt;</span><span class="nt">a</span> <span class="na">href</span><span class="o">=</span><span class="s">&#39;/user/signup&#39;</span><span class="p"></span><span class="p">&gt;</span>Signup<span class="p">&lt;</span><span class="p">/</span><span class="nt">a</span><span class="p">&gt;</span>
            <span class="p">&lt;</span><span class="nt">a</span> <span class="na">href</span><span class="o">=</span><span class="s">&#39;/user/login&#39;</span><span class="p"></span><span class="p">&gt;</span>Login<span class="p">&lt;</span><span class="p">/</span><span class="nt">a</span><span class="p">&gt;</span>
        {{end}}
    <span class="p">&lt;</span><span class="p">/</span><span class="nt">div</span><span class="p">&gt;</span>
<span class="p">&lt;</span><span class="p">/</span><span class="nt">nav</span><span class="p">&gt;</span>
{{end}}</pre>
</figure>

<h4 id="17.01-suggested-code-for-step-4">کد پیشنهادی برای مرحله 4</h4>

<figure class="code go" dir="ltr">
<figcaption>File: cmd/web/handlers.go</figcaption>
<pre><span class="kn">package</span> <span class="nx">main</span>

<span class="o">...</span>

<span class="kd">func</span> <span class="p">(</span><span class="nx">app</span> <span class="o">*</span><span class="nx">application</span><span class="p">)</span> <span class="nf">about</span><span class="p">(</span><span class="nx">w</span> <span class="nx">http</span><span class="p">.</span><span class="nx">ResponseWriter</span><span class="p">,</span> <span class="nx">r</span> <span class="o">*</span><span class="nx">http</span><span class="p">.</span><span class="nx">Request</span><span class="p">)</span> <span class="p">{</span>
    <span class="nx">data</span> <span class="o">:=</span> <span class="nx">app</span><span class="p">.</span><span class="nf">newTemplateData</span><span class="p">(</span><span class="nx">r</span><span class="p">)</span>
    <span class="nx">app</span><span class="p">.</span><span class="nf">render</span><span class="p">(</span><span class="nx">w</span><span class="p">,</span> <span class="nx">r</span><span class="p">,</span> <span class="nx">http</span><span class="p">.</span><span class="nx">StatusOK</span><span class="p">,</span> <span class="s">&#34;about.tmpl&#34;</span><span class="p">,</span> <span class="nx">data</span><span class="p">)</span>
<span class="p">}</span></pre>
</figure>

		</main>
		<footer>
			<div class="wrapper">
				<div>
					&lsaquo; <a href="16.00-guided-exercises.html">قبلی</a>
				</div>
				<div>
					<a href="00.01-contents.html">فهرست</a>
				</div>
				<div>
					<a href="16.02-add-a-debug-mode.html">بعدی</a> &rsaquo;
				</div>
			</div>
		</footer>
		<script>
			document.onkeydown = function(evt) {
				evt = evt || window.event;
				switch (evt.keyCode) {
					
					case 37:
						window.location.href = "16.00-guided-exercises.html";
						break;
						
					
					case 39:
						window.location.href = "16.02-add-a-debug-mode.html";
						break;
						
				}
			};
		</script>
	</body>
</html>

